#set($layout="layout/emptylayout.vm")

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>加油站信息管理</title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
    <style type="text/css">

        th {
            font-size: 15px;
            font-weight: 500;
            width: 100px
        }
    </style>
</head>
<body>
#**#
    #if($tankinfo)
        #foreach($item in $tankinfo)
        <table id="tb" border="1" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th id> 油罐编号</th>
                <th><span>$item.oilcan</span></th>
            </tr>
            <tr>
                <th>油品</th>
                <th><span>$!{item.oilno} </span></th>
            </tr>

            <tr>
                <th>净油体积(L)</th>
                <th>0.0</th>
            </tr>
            <tr>
                <th>标准体积(L)</th>
                <th>0.0</th>
            </tr>
            <tr>
                <th>空体积(L)</th>
                <th>0.0</th>
            </tr>
            <tr>
                <th>油水总高(mm)</th>
                <th>0.0</th>
            </tr>
            <tr>
                <th>水高(mm)</th>
                <th>0.0</th>
            </tr>
            <tr>
                <th>水体积(L)</th>
                <th>0.0</th>
            </tr>
            <tr>
                <th>平均温度(℃)</th>
                <th>0.0</th>
            </tr>

            </thead>
        </table>

        #end
    #end


</body>
</html>
<script>

</script>