#set($layout="layout/emptylayout.vm")

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>加油站信息管理</title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
    </head>
<body class="easyui-layout">
## Velocity  注释

#*
Velocity 注释块内容
 *#

#**
 * Velocity 文档注释块
 *#

#*
#[[
Velocity 直接输出的内容
]]#
*#

#* $!{city}*#


<div id="cc" class="easyui-layout" style="width:1170px;height:521px;">
    <div id="td" data-options="region:'west',title:'湖南省',split:true" style="padding:10px;width:200px;"></div>
    <div id ="station"  data-options="region:'center',title:'$!department.nodename'">
        <div class="easyui-tabs" style="width:960px;height:470px">
            #*<div title="加油站信息管理" >
                #parse("basicdata/manageinf.vm")
            </div>*#
            <div title="油枪管理">
                #parse("basicdata/GasGun.vm")
            </div>
            <div   title="预报警信息管理">
                #parse("basicdata/peralarm.vm")
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">



    var toUrl;
    var param;
    $('#td').tree({
        url: "/web/basicdata/findallstation",
        loadFilter: function (data) {
            if (data != null) {
                return data;
            }
        },
        onClick: function (node) {
            var toUrl = '/web/basicdata/basicdatamanage';
            //调用方法 如
            window.location.href = toUrl + "?id=" + node.attributes;
        }
    });


</script>
</body>
</html>
