<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.ATG.dao.DailyStaticOilCanInventoryDao" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.ATG.domain.DailyStaticOilCanInventory" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <id column="Oilcan" property="oilcan" jdbcType="INTEGER" />
    <result column="measuretime" property="measuretime" jdbcType="TIMESTAMP" />
    <result column="Oil" property="oil" jdbcType="DOUBLE" />
    <result column="standardl" property="standardl" jdbcType="DOUBLE" />
    <result column="heighttotal" property="heighttotal" jdbcType="DOUBLE" />
    <result column="WaterHeight" property="waterheight" jdbcType="DOUBLE" />
    <result column="Waterl" property="waterl" jdbcType="DOUBLE" />
    <result column="temperature" property="temperature" jdbcType="DOUBLE" />
    <result column="TranStatus" property="transtatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, Oilcan, measuretime, Oil, standardl, heighttotal, WaterHeight, Waterl, temperature,TranStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.kld.gsm.ATG.domain.DailyStaticOilCanInventoryKey" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_daily_StaticOilCanInventory
    where ID = #{id,jdbcType=VARCHAR}
    and Oilcan = #{oilcan,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kld.gsm.ATG.domain.DailyStaticOilCanInventoryKey" >
    delete from oss_daily_StaticOilCanInventory
    where ID = #{id,jdbcType=VARCHAR}
    and Oilcan = #{oilcan,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kld.gsm.ATG.domain.DailyStaticOilCanInventory" >
    insert into oss_daily_StaticOilCanInventory (ID, Oilcan, measuretime,
    Oil, standardl, heighttotal,
    WaterHeight, Waterl, temperature
    )
    values (#{id,jdbcType=VARCHAR}, #{oilcan,jdbcType=INTEGER}, #{measuretime,jdbcType=TIMESTAMP},
    #{oil,jdbcType=DOUBLE}, #{standardl,jdbcType=DOUBLE}, #{heighttotal,jdbcType=DOUBLE},
    #{waterheight,jdbcType=DOUBLE}, #{waterl,jdbcType=DOUBLE}, #{temperature,jdbcType=DOUBLE}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.ATG.domain.DailyStaticOilCanInventory" >
    insert into oss_daily_StaticOilCanInventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="oilcan != null" >
        Oilcan,
      </if>
      <if test="measuretime != null" >
        measuretime,
      </if>
      <if test="oil != null" >
        Oil,
      </if>
      <if test="standardl != null" >
        standardl,
      </if>
      <if test="heighttotal != null" >
        heighttotal,
      </if>
      <if test="waterheight != null" >
        WaterHeight,
      </if>
      <if test="waterl != null" >
        Waterl,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="oilcan != null" >
        #{oilcan,jdbcType=INTEGER},
      </if>
      <if test="measuretime != null" >
        #{measuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="oil != null" >
        #{oil,jdbcType=DOUBLE},
      </if>
      <if test="standardl != null" >
        #{standardl,jdbcType=DOUBLE},
      </if>
      <if test="heighttotal != null" >
        #{heighttotal,jdbcType=DOUBLE},
      </if>
      <if test="waterheight != null" >
        #{waterheight,jdbcType=DOUBLE},
      </if>
      <if test="waterl != null" >
        #{waterl,jdbcType=DOUBLE},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kld.gsm.ATG.domain.DailyStaticOilCanInventory" >
    update oss_daily_StaticOilCanInventory
    <set >
      <if test="measuretime != null" >
        measuretime = #{measuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="oil != null" >
        Oil = #{oil,jdbcType=DOUBLE},
      </if>
      <if test="standardl != null" >
        standardl = #{standardl,jdbcType=DOUBLE},
      </if>
      <if test="heighttotal != null" >
        heighttotal = #{heighttotal,jdbcType=DOUBLE},
      </if>
      <if test="waterheight != null" >
        WaterHeight = #{waterheight,jdbcType=DOUBLE},
      </if>
      <if test="waterl != null" >
        Waterl = #{waterl,jdbcType=DOUBLE},
      </if>
      <if test="temperature != null" >
        temperature = #{temperature,jdbcType=DOUBLE},
      </if>
      <if test="transtatus != null" >
        TranStatus = #{transtatus,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
    and Oilcan = #{oilcan,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kld.gsm.ATG.domain.DailyStaticOilCanInventory" >
    update oss_daily_StaticOilCanInventory
    set measuretime = #{measuretime,jdbcType=TIMESTAMP},
      Oil = #{oil,jdbcType=DOUBLE},
      standardl = #{standardl,jdbcType=DOUBLE},
      heighttotal = #{heighttotal,jdbcType=DOUBLE},
      WaterHeight = #{waterheight,jdbcType=DOUBLE},
      Waterl = #{waterl,jdbcType=DOUBLE},
      temperature = #{temperature,jdbcType=DOUBLE},TranStatus = #{transtatus,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=VARCHAR}
      and Oilcan = #{oilcan,jdbcType=INTEGER}
  </update>
  <select id="selectBytrans" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM  oss_daily_StaticOilCanInventory WHERE TranStatus=0
  </select>
</mapper>