<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.ATG.dao.DailyTradeInventoryDao" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.ATG.domain.DailyTradeInventory" >
    <id column="MacNo" property="macno" jdbcType="INTEGER" />
    <id column="TTC" property="ttc" jdbcType="INTEGER" />
    <id column="TakeDate" property="takedate" jdbcType="TIMESTAMP" />
    <id column="OilGun" property="oilgun" jdbcType="VARCHAR" />
    <result column="OilCan" property="oilcan" jdbcType="INTEGER" />
    <result column="OilNo" property="oilno" jdbcType="VARCHAR" />
    <result column="CardNo" property="cardno" jdbcType="VARCHAR"/>
    <result column="OpeTime" property="opetime" jdbcType="TIMESTAMP" />
    <result column="StockDate" property="stockdate" jdbcType="VARCHAR" />
    <result column="StockTime" property="stocktime" jdbcType="VARCHAR" />
    <result column="OilL" property="oill" jdbcType="DOUBLE" />
    <result column="StandardL" property="standardl" jdbcType="DOUBLE" />
    <result column="EmptyL" property="emptyl" jdbcType="DOUBLE" />
    <result column="HeightTotal" property="heighttotal" jdbcType="DOUBLE" />
    <result column="HeightWater" property="heightwater" jdbcType="DOUBLE" />
    <result column="OilTemp" property="oiltemp" jdbcType="DOUBLE" />
    <result column="WaterL" property="waterl" jdbcType="DOUBLE" />
    <result column="Density" property="density" jdbcType="DOUBLE" />
    <result column="DensityStandard" property="densitystandard" jdbcType="DOUBLE" />
    <result column="Shift" property="shift" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="TranStatus" property="transtatus" jdbcType="VARCHAR" />
    <result column="BackMatchFlag" property="backmatchflag" jdbcType="VARCHAR" />
    <result column="Liter" property="liter" jdbcType="DOUBLE" />
    <result column="PumpNo" property="pumpno" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    MacNo, TTC, TakeDate, OilGun, OilCan, OilNo, OpeTime, StockDate, StockTime, OilL,
    StandardL, EmptyL, HeightTotal, HeightWater, OilTemp, WaterL, Density, DensityStandard, 
    Shift, Remark, TranStatus
  </sql>
  <sql id="Base_Column_List2" >
    MacNo, TTC, TakeDate, OilGun, OilCan, OilNo, OpeTime, StockDate, StockTime, OilL,
    StandardL, EmptyL, HeightTotal, HeightWater, OilTemp, WaterL, Density, DensityStandard,
    Shift, Remark, TranStatus,Liter,PumpNo,BackMatchFlag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.kld.gsm.ATG.domain.DailyTradeInventoryKey" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_daily_TradeInventory
    where MacNo = #{macno,jdbcType=INTEGER}
      and TTC = #{ttc,jdbcType=INTEGER}
      and TakeDate = #{takedate,jdbcType=TIMESTAMP}
      and OilGun = #{oilgun,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kld.gsm.ATG.domain.DailyTradeInventoryKey" >
    delete from oss_daily_TradeInventory
    where MacNo = #{macno,jdbcType=INTEGER}
      and TTC = #{ttc,jdbcType=INTEGER}
      and TakeDate = #{takedate,jdbcType=TIMESTAMP}
      and OilGun = #{oilgun,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kld.gsm.ATG.domain.DailyTradeInventory" >
    insert into oss_daily_TradeInventory (MacNo, TTC, TakeDate, 
      OilGun, OilCan, OilNo,CardNo,
      OpeTime, StockDate, StockTime, 
      OilL, StandardL, EmptyL, 
      HeightTotal, HeightWater, OilTemp, 
      WaterL, Density, DensityStandard, 
      Shift, Remark, TranStatus
      )
    values (#{macno,jdbcType=INTEGER}, #{ttc,jdbcType=INTEGER}, #{takedate,jdbcType=TIMESTAMP}, 
      #{oilgun,jdbcType=VARCHAR}, #{oilcan,jdbcType=INTEGER}, #{oilno,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR},
      #{opetime,jdbcType=TIMESTAMP}, #{stockdate,jdbcType=VARCHAR}, #{stocktime,jdbcType=VARCHAR}, 
      #{oill,jdbcType=DOUBLE}, #{standardl,jdbcType=DOUBLE}, #{emptyl,jdbcType=DOUBLE}, 
      #{heighttotal,jdbcType=DOUBLE}, #{heightwater,jdbcType=DOUBLE}, #{oiltemp,jdbcType=DOUBLE}, 
      #{waterl,jdbcType=DOUBLE}, #{density,jdbcType=DOUBLE}, #{densitystandard,jdbcType=DOUBLE}, 
      #{shift,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{transtatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.ATG.domain.DailyTradeInventory" >
    insert into oss_daily_TradeInventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="macno != null" >
        MacNo,
      </if>
      <if test="ttc != null" >
        TTC,
      </if>
      <if test="takedate != null" >
        TakeDate,
      </if>
      <if test="oilgun != null" >
        OilGun,
      </if>
      <if test="oilcan != null" >
        OilCan,
      </if>
      <if test="oilno != null" >
        OilNo,
      </if>
      <if test="opetime != null" >
        OpeTime,
      </if>
      <if test="stockdate != null" >
        StockDate,
      </if>
      <if test="stocktime != null" >
        StockTime,
      </if>
      <if test="oill != null" >
        OilL,
      </if>
      <if test="standardl != null" >
        StandardL,
      </if>
      <if test="emptyl != null" >
        EmptyL,
      </if>
      <if test="heighttotal != null" >
        HeightTotal,
      </if>
      <if test="heightwater != null" >
        HeightWater,
      </if>
      <if test="oiltemp != null" >
        OilTemp,
      </if>
      <if test="waterl != null" >
        WaterL,
      </if>
      <if test="density != null" >
        Density,
      </if>
      <if test="densitystandard != null" >
        DensityStandard,
      </if>
      <if test="shift != null" >
        Shift,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="transtatus != null" >
        TranStatus,
      </if>
      <if test="backcanflag != null" >
        BackCanFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="macno != null" >
        #{macno,jdbcType=INTEGER},
      </if>
      <if test="ttc != null" >
        #{ttc,jdbcType=INTEGER},
      </if>
      <if test="takedate != null" >
        #{takedate,jdbcType=TIMESTAMP},
      </if>
      <if test="oilgun != null" >
        #{oilgun,jdbcType=VARCHAR},
      </if>
      <if test="oilcan != null" >
        #{oilcan,jdbcType=INTEGER},
      </if>
      <if test="oilno != null" >
        #{oilno,jdbcType=VARCHAR},
      </if>
      <if test="opetime != null" >
        #{opetime,jdbcType=TIMESTAMP},
      </if>
      <if test="stockdate != null" >
        #{stockdate,jdbcType=VARCHAR},
      </if>
      <if test="stocktime != null" >
        #{stocktime,jdbcType=VARCHAR},
      </if>
      <if test="oill != null" >
        #{oill,jdbcType=DOUBLE},
      </if>
      <if test="standardl != null" >
        #{standardl,jdbcType=DOUBLE},
      </if>
      <if test="emptyl != null" >
        #{emptyl,jdbcType=DOUBLE},
      </if>
      <if test="heighttotal != null" >
        #{heighttotal,jdbcType=DOUBLE},
      </if>
      <if test="heightwater != null" >
        #{heightwater,jdbcType=DOUBLE},
      </if>
      <if test="oiltemp != null" >
        #{oiltemp,jdbcType=DOUBLE},
      </if>
      <if test="waterl != null" >
        #{waterl,jdbcType=DOUBLE},
      </if>
      <if test="density != null" >
        #{density,jdbcType=DOUBLE},
      </if>
      <if test="densitystandard != null" >
        #{densitystandard,jdbcType=DOUBLE},
      </if>
      <if test="shift != null" >
        #{shift,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="transtatus != null" >
        #{transtatus,jdbcType=VARCHAR},
      </if>
      <if test="backcanflag != null" >
        #{backcanflag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kld.gsm.ATG.domain.DailyTradeInventory" >
    update oss_daily_TradeInventory
    <set >
      <if test="oilcan != null" >
        OilCan = #{oilcan,jdbcType=INTEGER},
      </if>
      <if test="oilno != null" >
        OilNo = #{oilno,jdbcType=VARCHAR},
      </if>
      <if test="opetime != null" >
        OpeTime = #{opetime,jdbcType=TIMESTAMP},
      </if>
      <if test="stockdate != null" >
        StockDate = #{stockdate,jdbcType=VARCHAR},
      </if>
      <if test="stocktime != null" >
        StockTime = #{stocktime,jdbcType=VARCHAR},
      </if>
      <if test="oill != null" >
        OilL = #{oill,jdbcType=DOUBLE},
      </if>
      <if test="standardl != null" >
        StandardL = #{standardl,jdbcType=DOUBLE},
      </if>
      <if test="emptyl != null" >
        EmptyL = #{emptyl,jdbcType=DOUBLE},
      </if>
      <if test="heighttotal != null" >
        HeightTotal = #{heighttotal,jdbcType=DOUBLE},
      </if>
      <if test="heightwater != null" >
        HeightWater = #{heightwater,jdbcType=DOUBLE},
      </if>
      <if test="oiltemp != null" >
        OilTemp = #{oiltemp,jdbcType=DOUBLE},
      </if>
      <if test="waterl != null" >
        WaterL = #{waterl,jdbcType=DOUBLE},
      </if>
      <if test="density != null" >
        Density = #{density,jdbcType=DOUBLE},
      </if>
      <if test="densitystandard != null" >
        DensityStandard = #{densitystandard,jdbcType=DOUBLE},
      </if>
      <if test="shift != null" >
        Shift = #{shift,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="transtatus != null" >
        TranStatus = #{transtatus,jdbcType=VARCHAR},
      </if>
    </set>
    where MacNo = #{macno,jdbcType=INTEGER}
      and TTC = #{ttc,jdbcType=INTEGER}
      and TakeDate = #{takedate,jdbcType=TIMESTAMP}
      and OilGun = #{oilgun,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kld.gsm.ATG.domain.DailyTradeInventory" >
    update oss_daily_TradeInventory
    set OilCan = #{oilcan,jdbcType=INTEGER},
      OilNo = #{oilno,jdbcType=VARCHAR},
      OpeTime = #{opetime,jdbcType=TIMESTAMP},
      StockDate = #{stockdate,jdbcType=VARCHAR},
      StockTime = #{stocktime,jdbcType=VARCHAR},
      OilL = #{oill,jdbcType=DOUBLE},
      StandardL = #{standardl,jdbcType=DOUBLE},
      EmptyL = #{emptyl,jdbcType=DOUBLE},
      HeightTotal = #{heighttotal,jdbcType=DOUBLE},
      HeightWater = #{heightwater,jdbcType=DOUBLE},
      OilTemp = #{oiltemp,jdbcType=DOUBLE},
      WaterL = #{waterl,jdbcType=DOUBLE},
      Density = #{density,jdbcType=DOUBLE},
      DensityStandard = #{densitystandard,jdbcType=DOUBLE},
      Shift = #{shift,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      TranStatus = #{transtatus,jdbcType=VARCHAR}
    where MacNo = #{macno,jdbcType=INTEGER}
      and TTC = #{ttc,jdbcType=INTEGER}
      and TakeDate = #{takedate,jdbcType=TIMESTAMP}
      and OilGun = #{oilgun,jdbcType=VARCHAR}
  </update>
  <select id="selectByTrans" parameterType="String" resultMap="BaseResultMap">
  SELECT
    tdi.MacNo, tdi.TTC, tdi.TakeDate, tdi.OilGun, tdi.OilCan, tdi.OilNo, tdi.CardNo,tdi.OpeTime, tdi.StockDate, tdi.StockTime, tdi.OilL,
    tdi.StandardL, tdi.EmptyL, tdi.HeightTotal, tdi.HeightWater, tdi.OilTemp, tdi.WaterL, tdi.Density, tdi.DensityStandard,
    tdi.Shift, tdi.Remark, tdi.TranStatus,tda.Liter,tda.PumpNo,IFNULL(tda.BackCanFlag,0) as BackMatchFlag
    FROM oss_daily_TradeInventory tdi  left join  oss_daily_TradeAccount tda on tdi.MacNo=tda.MacNo
    and  tdi.TakeDate=tda.TakeDate and  tdi.TTC=tda.TTC and tdi.OilGun=tda.OilGun
     WHERE TranStatus=#{trans,jdbcType=VARCHAR}
  </select>
  <select id="selectByTrans1" parameterType="String" resultMap="BaseResultMap">
    SELECT
    tdi.MacNo, tdi.TTC, tdi.TakeDate, tdi.OilGun, tdi.OilCan, tdi.OilNo, tdi.CardNo,tdi.OpeTime, tdi.StockDate, tdi.StockTime, tdi.OilL,
    tdi.StandardL, tdi.EmptyL, tdi.HeightTotal, tdi.HeightWater, tdi.OilTemp, tdi.WaterL, tdi.Density, tdi.DensityStandard,
    tdi.Shift, tdi.Remark, tdi.TranStatus,tda.Liter,tda.PumpNo,IFNULL(tda.BackCanFlag,0) as BackMatchFlag
    FROM oss_daily_TradeInventory tdi  left join  oss_daily_TradeAccount tda on tdi.MacNo=tda.MacNo
    and  tdi.TakeDate=tda.TakeDate and  tdi.TTC=tda.TTC and tdi.OilGun=tda.OilGun
    WHERE TranStatus=#{trans,jdbcType=VARCHAR} AND tdi.Shift is NOT NULL
  </select>
  <select id="selectOilL" parameterType="Map" resultType="String">
    SELECT  IFNULL(OilL,0.0) OilL,MAX(TakeDate)
    FROM oss_daily_TradeInventory WHERE TakeDate &lt; #{taketime,jdbcType=TIMESTAMP}
    and oilcan=#{oilcanno,jdbcType=INTEGER} group by oilcan
  </select>

  <update id="updateByKey" parameterType="com.kld.gsm.ATG.domain.OilVouch">
    UPDATE oss_daily_TradeInventory
    set
      Shift=#{teamvouchno}
    where
      MacNo = #{macno,jdbcType=INTEGER}
      and TTC = #{ttc,jdbcType=INTEGER}
      and TakeDate = #{takedate,jdbcType=TIMESTAMP}
      and OilGun = #{oilgun,jdbcType=VARCHAR}
  </update>
</mapper>