<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kld.gsm.coord.dao.InoilcheckbillDao">
    <insert id="insertInoilcheckbill" parameterType="com.kld.gsm.coord.domain.InOilCheckBill" >
        INSERT INTO  inoilcheckbill(
          vouchno,oilno ,goodsbillno,origamount,origstdliter,
          origlitramout,pickupplace,checamount,checcnttemper,
          checoiwahigh,checairhigh,checwatehigh,checlitramount,checstdliter,
          deinvolu,deinanalyse,shipdept,chiptrucno,vittaperson,driver,arrivetime,
          acceptflag,operatorcode,billstatus,transflag,oilcanno
        )
        values(#{vouchno,jdbcType=VARCHAR}, #{oilno,jdbcType=VARCHAR}, #{goodsbillno,jdbcType=VARCHAR}, #{origamount,jdbcType=DOUBLE}, #{origstdliter,jdbcType=DOUBLE},
  #{origlitramout,jdbcType=DOUBLE}, #{pickupplace,jdbcType=VARCHAR}, #{checamount,jdbcType=DOUBLE}, #{checcnttemper,jdbcType=DOUBLE}, #{checoiwahigh,jdbcType=DOUBLE}, #{checairhigh,jdbcType=DOUBLE},
  #{checwatehigh,jdbcType=DOUBLE}, #{checlitramount,jdbcType=DOUBLE}, #{checstdliter,jdbcType=DOUBLE}, #{ deinvolu,jdbcType=VARCHAR}, #{deinanalyse,jdbcType=VARCHAR}, #{shipdept,jdbcType=VARCHAR},
  #{chiptrucno,jdbcType=VARCHAR}, #{vittaperson,jdbcType=VARCHAR}, #{driver,jdbcType=VARCHAR}, #{arrivetime,jdbcType=TIMESTAMP}, #{acceptflag,jdbcType=VARCHAR}, #{operatorcode,jdbcType=INTEGER}, #{billstatus,jdbcType=VARCHAR},
  #{transflag,jdbcType=VARCHAR}, #{oilcanno,jdbcType=INTEGER}
        )
    </insert>

    <update id="updateInoilcheckbill" parameterType="java.lang.String">
        update inoilcheckbill set billstatus=1 where goodsbillno=#{DeliveryNo}
    </update>

    <delete id="delInoilcheckbill" statementType="STATEMENT" parameterType="java.lang.String">
        ${sql}
    </delete>
    <update id="updateManualno" parameterType="hashmap">
        update inoilcheckbill set goodsbillno=#{manualno} where goodsbillno=#{DeliveryNo}
    </update>
    <update id="updateManualno1" parameterType="hashmap" statementType="STATEMENT">
        ${sql}
    </update>

    <insert id="insertInoilcheckbill1" parameterType="String" statementType="STATEMENT">
        ${sql}
    </insert>
</mapper>