<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kld.gsm.coord.dao.OilCanInforDao">
        <select id="selectOilCanInfor" resultType="com.kld.gsm.coord.domain.OilCanInfor">
        SELECT * FROM oilcaninfor
    </select>

    <select id="findByOilNo" parameterType="java.lang.String" resultType="com.kld.gsm.coord.domain.OilCanInfor">
        SELECT * FROM oilcaninfor WHERE oilno = #{oilno}
    </select>
    <select id="selectOilCanInfor1" parameterType="String" statementType="STATEMENT" resultType="com.kld.gsm.coord.domain.OilCanInfor">
        ${sql}
    </select>
</mapper>