<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kld.gsm.coord.dao.OprAuthorityDao">
    <!-- 根据用户编号查角色名称-->
    <select id="getByOprNo" parameterType="java.lang.Integer" resultType="com.kld.gsm.coord.domain.OprAuthority">
    select * from oprauthority WHERE oprno=#{oprno}
    </select>
</mapper>