<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kld.gsm.coord.dao.TeamstockDao">
    <select id="getTeamstock" parameterType="java.lang.String" resultType="com.kld.gsm.coord.domain.Teamstock">
       SELECT *
       FROM ATGTEAMSTOCK
       WHERE teamvouchno=#{teamvouchno}
    </select>
</mapper>