<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.center.dao.oss_daily_pumpDigitShiftMapper" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.center.domain.oss_daily_pumpDigitShift" >
    <id column="Shift" property="shift" jdbcType="VARCHAR" />
    <id column="OilGun" property="oilgun" jdbcType="INTEGER" />
    <id column="NodeNo" property="nodeno" jdbcType="VARCHAR" />
    <result column="TakeDate" property="takedate" jdbcType="TIMESTAMP" />
    <result column="OilNo" property="oilno" jdbcType="VARCHAR" />
    <result column="OilName" property="oilname" jdbcType="VARCHAR" />
    <result column="ToPump" property="topump" jdbcType="DOUBLE" />
    <result column="HoPump" property="hopump" jdbcType="DOUBLE" />
    <result column="PumpNum" property="pumpnum" jdbcType="DOUBLE" />
    <result column="PayDate" property="paydate" jdbcType="TIMESTAMP" />
    <result column="TranStatus" property="transtatus" jdbcType="VARCHAR" />
    <result column="OUCode" property="oucode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Shift, OilGun, NodeNo, TakeDate, OilNo, OilName, ToPump, HoPump, PumpNum, PayDate, 
    TranStatus, OUCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.kld.gsm.center.domain.oss_daily_pumpDigitShiftKey" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_daily_pumpDigitShift
    where Shift = #{shift,jdbcType=VARCHAR}
      and OilGun = #{oilgun,jdbcType=INTEGER}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_daily_pumpDigitShiftKey" >
    delete from oss_daily_pumpDigitShift
    where Shift = #{shift,jdbcType=VARCHAR}
      and OilGun = #{oilgun,jdbcType=INTEGER}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kld.gsm.center.domain.oss_daily_pumpDigitShift" >
    replace into oss_daily_pumpDigitShift (Shift, OilGun, NodeNo,
      TakeDate, OilNo, OilName, 
      ToPump, HoPump, PumpNum, 
      PayDate, TranStatus, OUCode
      )
    values (#{shift,jdbcType=VARCHAR}, #{oilgun,jdbcType=INTEGER}, #{nodeno,jdbcType=VARCHAR}, 
      #{takedate,jdbcType=TIMESTAMP}, #{oilno,jdbcType=VARCHAR}, #{oilname,jdbcType=VARCHAR}, 
      #{topump,jdbcType=DOUBLE}, #{hopump,jdbcType=DOUBLE}, #{pumpnum,jdbcType=DOUBLE}, 
      #{paydate,jdbcType=TIMESTAMP}, #{transtatus,jdbcType=VARCHAR}, #{oucode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.center.domain.oss_daily_pumpDigitShift" >
    insert into oss_daily_pumpDigitShift
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shift != null" >
        Shift,
      </if>
      <if test="oilgun != null" >
        OilGun,
      </if>
      <if test="nodeno != null" >
        NodeNo,
      </if>
      <if test="takedate != null" >
        TakeDate,
      </if>
      <if test="oilno != null" >
        OilNo,
      </if>
      <if test="oilname != null" >
        OilName,
      </if>
      <if test="topump != null" >
        ToPump,
      </if>
      <if test="hopump != null" >
        HoPump,
      </if>
      <if test="pumpnum != null" >
        PumpNum,
      </if>
      <if test="paydate != null" >
        PayDate,
      </if>
      <if test="transtatus != null" >
        TranStatus,
      </if>
      <if test="oucode != null" >
        OUCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shift != null" >
        #{shift,jdbcType=VARCHAR},
      </if>
      <if test="oilgun != null" >
        #{oilgun,jdbcType=INTEGER},
      </if>
      <if test="nodeno != null" >
        #{nodeno,jdbcType=VARCHAR},
      </if>
      <if test="takedate != null" >
        #{takedate,jdbcType=TIMESTAMP},
      </if>
      <if test="oilno != null" >
        #{oilno,jdbcType=VARCHAR},
      </if>
      <if test="oilname != null" >
        #{oilname,jdbcType=VARCHAR},
      </if>
      <if test="topump != null" >
        #{topump,jdbcType=DOUBLE},
      </if>
      <if test="hopump != null" >
        #{hopump,jdbcType=DOUBLE},
      </if>
      <if test="pumpnum != null" >
        #{pumpnum,jdbcType=DOUBLE},
      </if>
      <if test="paydate != null" >
        #{paydate,jdbcType=TIMESTAMP},
      </if>
      <if test="transtatus != null" >
        #{transtatus,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        #{oucode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kld.gsm.center.domain.oss_daily_pumpDigitShift" >
    update oss_daily_pumpDigitShift
    <set >
      <if test="takedate != null" >
        TakeDate = #{takedate,jdbcType=TIMESTAMP},
      </if>
      <if test="oilno != null" >
        OilNo = #{oilno,jdbcType=VARCHAR},
      </if>
      <if test="oilname != null" >
        OilName = #{oilname,jdbcType=VARCHAR},
      </if>
      <if test="topump != null" >
        ToPump = #{topump,jdbcType=DOUBLE},
      </if>
      <if test="hopump != null" >
        HoPump = #{hopump,jdbcType=DOUBLE},
      </if>
      <if test="pumpnum != null" >
        PumpNum = #{pumpnum,jdbcType=DOUBLE},
      </if>
      <if test="paydate != null" >
        PayDate = #{paydate,jdbcType=TIMESTAMP},
      </if>
      <if test="transtatus != null" >
        TranStatus = #{transtatus,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        OUCode = #{oucode,jdbcType=VARCHAR},
      </if>
    </set>
    where Shift = #{shift,jdbcType=VARCHAR}
      and OilGun = #{oilgun,jdbcType=INTEGER}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_daily_pumpDigitShift" >
    update oss_daily_pumpDigitShift
    set TakeDate = #{takedate,jdbcType=TIMESTAMP},
      OilNo = #{oilno,jdbcType=VARCHAR},
      OilName = #{oilname,jdbcType=VARCHAR},
      ToPump = #{topump,jdbcType=DOUBLE},
      HoPump = #{hopump,jdbcType=DOUBLE},
      PumpNum = #{pumpnum,jdbcType=DOUBLE},
      PayDate = #{paydate,jdbcType=TIMESTAMP},
      TranStatus = #{transtatus,jdbcType=VARCHAR},
      OUCode = #{oucode,jdbcType=VARCHAR}
    where Shift = #{shift,jdbcType=VARCHAR}
      and OilGun = #{oilgun,jdbcType=INTEGER}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </update>
  <select id="selectByShift" resultMap="BaseResultMap" parameterType="hashmap" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_daily_pumpDigitShift
    where Shift = #{shift,jdbcType=VARCHAR} and OUCode=#{oucode,jdbcType=VARCHAR}
  </select>
</mapper>