<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.center.dao.oss_sysmanage_cubageMapper" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.center.domain.oss_sysmanage_cubage" >
    <id column="Version" property="version" jdbcType="VARCHAR" />
    <id column="OilCan" property="oilcan" jdbcType="VARCHAR" />
    <id column="NodeNo" property="nodeno" jdbcType="VARCHAR" />
    <result column="Height" property="height" jdbcType="DOUBLE" />
    <result column="Liter" property="liter" jdbcType="DOUBLE" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateType" property="updatetype" jdbcType="VARCHAR" />
    <result column="OUCode" property="oucode" jdbcType="VARCHAR" />
    <result column="TranStatus" property="transtatus" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Version, OilCan, NodeNo, Height, Liter, UpdateTime, UpdateType, OUCode,TranStatus,Status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.kld.gsm.center.domain.oss_sysmanage_cubageKey" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_sysmanage_cubage
    where Version = #{version,jdbcType=VARCHAR}
      and OilCan = #{oilcan,jdbcType=VARCHAR}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_sysmanage_cubageKey" >
    delete from oss_sysmanage_cubage
    where Version = #{version,jdbcType=VARCHAR}
      and OilCan = #{oilcan,jdbcType=VARCHAR}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kld.gsm.center.domain.oss_sysmanage_cubage" >
    insert into oss_sysmanage_cubage (Version, OilCan, NodeNo, 
      Height, Liter, UpdateTime, 
      UpdateType, OUCode,TranStatus,Status)
    values (#{version,jdbcType=VARCHAR}, #{oilcan,jdbcType=VARCHAR}, #{nodeno,jdbcType=VARCHAR},
      #{height,jdbcType=DOUBLE}, #{liter,jdbcType=DOUBLE}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{updatetype,jdbcType=VARCHAR}, #{oucode,jdbcType=VARCHAR}, #{transtatus,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.center.domain.oss_sysmanage_cubage" >
    insert into oss_sysmanage_cubage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="version != null" >
        Version,
      </if>
      <if test="oilcan != null" >
        OilCan,
      </if>
      <if test="nodeno != null" >
        NodeNo,
      </if>
      <if test="height != null" >
        Height,
      </if>
      <if test="liter != null" >
        Liter,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updatetype != null" >
        UpdateType,
      </if>
      <if test="oucode != null" >
        OUCode,
      </if>
      <if test="transtatus != null" >
        TranStatus,
      </if>
      <if test="status != null" >
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="oilcan != null" >
        #{oilcan,jdbcType=VARCHAR},
      </if>
      <if test="nodeno != null" >
        #{nodeno,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="liter != null" >
        #{liter,jdbcType=DOUBLE},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetype != null" >
        #{updatetype,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        #{oucode,jdbcType=VARCHAR},
      </if>
      <if test="transtatus != null" >
        #{transtatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateStatus" parameterType="String" >
    UPDATE  oss_sysmanage_cubage SET  Status=0 WHERE  NodeNo=#{0,jdbcType=VARCHAR} and OilCan=#{1,jdbcType=VARCHAR}
  </update>
  <select id="selectByNodenoAndStatus" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM oss_sysmanage_cubage WHERE NodeNo=#{0,jdbcType=VARCHAR} and  Status=#{1,jdbcType=INTEGER}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.kld.gsm.center.domain.oss_sysmanage_cubage" >
    update oss_sysmanage_cubage
    <set >
      <if test="height != null" >
        Height = #{height,jdbcType=DOUBLE},
      </if>
      <if test="liter != null" >
        Liter = #{liter,jdbcType=DOUBLE},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetype != null" >
        UpdateType = #{updatetype,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        OUCode = #{oucode,jdbcType=VARCHAR},
      </if>
      <if test="transtatus != null" >
        TranStatus = #{transtatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where Version = #{version,jdbcType=VARCHAR}
      and OilCan = #{oilcan,jdbcType=VARCHAR}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_sysmanage_cubage" >
    update oss_sysmanage_cubage
    set Height = #{height,jdbcType=DOUBLE},
      Liter = #{liter,jdbcType=DOUBLE},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateType = #{updatetype,jdbcType=VARCHAR},
      OUCode = #{oucode,jdbcType=VARCHAR},
      TranStatus = #{transtatus,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER}
    where Version = #{version,jdbcType=VARCHAR}
      and OilCan = #{oilcan,jdbcType=VARCHAR}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </update>
  <!--根据条件查询详细信息-->
  <select id="getCubages" parameterType="java.util.Map" resultType="com.kld.gsm.center.domain.oss_sysmanage_cubage">
    SELECT  <include refid="Base_Column_List" />
    FROM oss_sysmanage_cubage
    WHERE 1=1
    <if test="oucode != null and oucode != '' ">
      and OUCode LIKE #{oucode,jdbcType=VARCHAR}
    </if>
    <if test="firstRow != null and  pageSize!= null">
      <![CDATA[ LIMIT #{intPage},#{intPageSize}]]>
    </if>
  </select>
  <!--查询总条数-->
  <select id="getCubageCounts" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT COUNT(OilCan) FROM oss_sysmanage_cubage WHERE 1=1
    <if test="oucode != null and oucode != '' ">
      and OUCode LIKE #{oucode,jdbcType=VARCHAR}
    </if>
  </select>
  <!--查询版本信息-->
  <select id="getCubageVersions" parameterType="java.util.Map" resultType="com.kld.gsm.center.domain.oss_sysmanage_cubage">
    SELECT <include refid="Base_Column_List" />
    FROM oss_sysmanage_cubage
    WHERE OilCan = #{oilcanno,jdbcType=INTEGER} AND OUCode = #{oucode,jdbcType=VARCHAR}
  </select>
  <!--导出版本信息查询-->
  <resultMap id="getCubageInfosResultMap" type="java.util.HashMap">
    <result column="oucode" property="oucode"/>
    <result column="oilcan" property="oilcan"/>
    <result column="version" property="version"/>
    <result column="liter" property="liter"/>
    <result column="height" property="height"/>
  </resultMap>
  <select id="getCubageInfos" parameterType="java.util.Map" resultMap="getCubageInfosResultMap">
    SELECT cubage.oucode,cubage.OilCan,cubage.Version,info.liter,info.height
    FROM oss_sysmanage_cubage cubage,oss_sysmanage_cubageInfo info
    WHERE cubage.OilCan = info.OilCan
    AND cubage.Version=info.Version
    AND cubage.OUCode = info.OUCode
    AND cubage.OilCan = #{oilcanno,jdbcType=INTEGER}
    AND cubage.OUCode = #{oucode,jdbcType=VARCHAR}
    AND cubage.Version = #{version,jdbcType=VARCHAR}
  </select>
  <update id="useCubageSave" parameterType="java.util.Map">
    UPDATE oss_sysmanage_cubage SET Status=1
    WHERE OilCan = #{oilcanno,jdbcType=INTEGER}
    AND OUCode = #{oucode,jdbcType=VARCHAR}
    AND Version = #{version,jdbcType=VARCHAR}
  </update>
  <select id="getUntranCubages" parameterType="java.util.Map" resultType="com.kld.gsm.center.domain.oss_sysmanage_cubage">
    SELECT <include refid="Base_Column_List" />
    FROM oss_sysmanage_cubage cubage
    WHERE cubage.OilCan = #{oilcanno,jdbcType=INTEGER}
    AND NodeNo = #{nodeno,jdbcType=VARCHAR}
    AND cubage.Version > #{version,jdbcType=VARCHAR}
  </select>
</mapper>
