<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.center.dao.oss_sysmanage_PaTRelationMapper" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.center.domain.oss_sysmanage_PaTRelation" >
    <id column="ProbeModel" property="probemodel" jdbcType="VARCHAR" />
    <id column="OilCan" property="oilcan" jdbcType="INTEGER" />
    <id column="NodeNo" property="nodeno" jdbcType="VARCHAR" />
    <result column="OilNo" property="oilno" jdbcType="VARCHAR" />
    <result column="LastAdjustTime" property="lastadjusttime" jdbcType="TIMESTAMP" />
    <result column="TranStatus" property="transtatus" jdbcType="VARCHAR" />
    <result column="OUCode" property="oucode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ProbeModel, OilCan, NodeNo, OilNo, LastAdjustTime, TranStatus, OUCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.kld.gsm.center.domain.oss_sysmanage_PaTRelationKey" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_sysmanage_PaTRelation
    where ProbeModel = #{probemodel,jdbcType=VARCHAR}
      and OilCan = #{oilcan,jdbcType=INTEGER}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_sysmanage_PaTRelationKey" >
    delete from oss_sysmanage_PaTRelation
    where ProbeModel = #{probemodel,jdbcType=VARCHAR}
      and OilCan = #{oilcan,jdbcType=INTEGER}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kld.gsm.center.domain.oss_sysmanage_PaTRelation" >
    insert into oss_sysmanage_PaTRelation (ProbeModel, OilCan, NodeNo, 
      OilNo, LastAdjustTime, TranStatus, 
      OUCode)
    values (#{probemodel,jdbcType=VARCHAR}, #{oilcan,jdbcType=INTEGER}, #{nodeno,jdbcType=VARCHAR}, 
      #{oilno,jdbcType=VARCHAR}, #{lastadjusttime,jdbcType=TIMESTAMP}, #{transtatus,jdbcType=VARCHAR}, 
      #{oucode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.center.domain.oss_sysmanage_PaTRelation" >
    insert into oss_sysmanage_PaTRelation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="probemodel != null" >
        ProbeModel,
      </if>
      <if test="oilcan != null" >
        OilCan,
      </if>
      <if test="nodeno != null" >
        NodeNo,
      </if>
      <if test="oilno != null" >
        OilNo,
      </if>
      <if test="lastadjusttime != null" >
        LastAdjustTime,
      </if>
      <if test="transtatus != null" >
        TranStatus,
      </if>
      <if test="oucode != null" >
        OUCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="probemodel != null" >
        #{probemodel,jdbcType=VARCHAR},
      </if>
      <if test="oilcan != null" >
        #{oilcan,jdbcType=INTEGER},
      </if>
      <if test="nodeno != null" >
        #{nodeno,jdbcType=VARCHAR},
      </if>
      <if test="oilno != null" >
        #{oilno,jdbcType=VARCHAR},
      </if>
      <if test="lastadjusttime != null" >
        #{lastadjusttime,jdbcType=TIMESTAMP},
      </if>
      <if test="transtatus != null" >
        #{transtatus,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        #{oucode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="merge" parameterType="com.kld.gsm.center.domain.oss_sysmanage_PaTRelation" >
    replace into oss_sysmanage_PaTRelation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="probemodel != null" >
        ProbeModel,
      </if>
      <if test="oilcan != null" >
        OilCan,
      </if>
      <if test="nodeno != null" >
        NodeNo,
      </if>
      <if test="oilno != null" >
        OilNo,
      </if>
      <if test="lastadjusttime != null" >
        LastAdjustTime,
      </if>
      <if test="transtatus != null" >
        TranStatus,
      </if>
      <if test="oucode != null" >
        OUCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="probemodel != null" >
        #{probemodel,jdbcType=VARCHAR},
      </if>
      <if test="oilcan != null" >
        #{oilcan,jdbcType=INTEGER},
      </if>
      <if test="nodeno != null" >
        #{nodeno,jdbcType=VARCHAR},
      </if>
      <if test="oilno != null" >
        #{oilno,jdbcType=VARCHAR},
      </if>
      <if test="lastadjusttime != null" >
        #{lastadjusttime,jdbcType=TIMESTAMP},
      </if>
      <if test="transtatus != null" >
        #{transtatus,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        #{oucode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kld.gsm.center.domain.oss_sysmanage_PaTRelation" >
    update oss_sysmanage_PaTRelation
    <set >
      <if test="oilno != null" >
        OilNo = #{oilno,jdbcType=VARCHAR},
      </if>
      <if test="lastadjusttime != null" >
        LastAdjustTime = #{lastadjusttime,jdbcType=TIMESTAMP},
      </if>
      <if test="transtatus != null" >
        TranStatus = #{transtatus,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        OUCode = #{oucode,jdbcType=VARCHAR},
      </if>
    </set>
    where ProbeModel = #{probemodel,jdbcType=VARCHAR}
      and OilCan = #{oilcan,jdbcType=INTEGER}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_sysmanage_PaTRelation" >
    update oss_sysmanage_PaTRelation
    set OilNo = #{oilno,jdbcType=VARCHAR},
      LastAdjustTime = #{lastadjusttime,jdbcType=TIMESTAMP},
      TranStatus = #{transtatus,jdbcType=VARCHAR},
      OUCode = #{oucode,jdbcType=VARCHAR}
    where ProbeModel = #{probemodel,jdbcType=VARCHAR}
      and OilCan = #{oilcan,jdbcType=INTEGER}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </update>
</mapper>