<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.center.dao.oss_sysmanage_AreaMapper" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.center.domain.oss_sysmanage_Area" >
    <id column="Code" property="code" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="City" property="city" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Code, Name,City
  </sql>
  <insert id="insert" parameterType="com.kld.gsm.center.domain.oss_sysmanage_Area" >
    insert into oss_sysmanage_Area (Code, Name, City
      )
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.center.domain.oss_sysmanage_Area" >
    insert into oss_sysmanage_Area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        Code,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="city != null" >
        City,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="merge" parameterType="com.kld.gsm.center.domain.oss_sysmanage_Area" >
    replace into oss_sysmanage_Area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        Code,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="city != null" >
        City,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getAreasByCity" parameterType="String" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List"/>
    FROM oss_sysmanage_Area  Where city=#{cno,jdbcType=VARCHAR}
  </select>
</mapper>