<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.center.dao.oss_monitor_tankoilMapper" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.center.domain.oss_monitor_tankoil" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <id column="NodeNo" property="nodeno" jdbcType="VARCHAR" />
    <result column="OUCode" property="oucode" jdbcType="VARCHAR" />
    <result column="OilCan" property="oilcan" jdbcType="INTEGER" />
    <result column="MeasureTime" property="measuretime" jdbcType="TIMESTAMP" />
    <result column="OilL" property="oill" jdbcType="DOUBLE" />
    <result column="StandardL" property="standardl" jdbcType="DOUBLE" />
    <result column="HeightTotal" property="heighttotal" jdbcType="DOUBLE" />
    <result column="WaterHeight" property="waterheight" jdbcType="DOUBLE" />
    <result column="WaterL" property="waterl" jdbcType="DOUBLE" />
    <result column="Temperature" property="temperature" jdbcType="DOUBLE" />
    <result column="TranStatus" property="transtatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NodeNo, OUCode, OilCan, MeasureTime, OilL, StandardL, HeightTotal, WaterHeight, 
    WaterL, Temperature,TranStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.kld.gsm.center.domain.oss_monitor_tankoilKey" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_monitor_tankoil
    where ID = #{id,jdbcType=VARCHAR}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_monitor_tankoilKey" >
    delete from oss_monitor_tankoil
    where ID = #{id,jdbcType=VARCHAR}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kld.gsm.center.domain.oss_monitor_tankoil" >
    insert into oss_monitor_tankoil (ID, NodeNo, OUCode, 
      OilCan, MeasureTime, OilL, 
      StandardL, HeightTotal, WaterHeight, 
      WaterL, Temperature)
    values (#{id,jdbcType=VARCHAR}, #{nodeno,jdbcType=VARCHAR}, #{oucode,jdbcType=VARCHAR}, 
      #{oilcan,jdbcType=INTEGER}, #{measuretime,jdbcType=TIMESTAMP}, #{oill,jdbcType=DOUBLE}, 
      #{standardl,jdbcType=DOUBLE}, #{heighttotal,jdbcType=DOUBLE}, #{waterheight,jdbcType=DOUBLE}, 
      #{waterl,jdbcType=DOUBLE}, #{temperature,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.center.domain.oss_monitor_tankoil" >
    insert into oss_monitor_tankoil
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="nodeno != null" >
        NodeNo,
      </if>
      <if test="oucode != null" >
        OUCode,
      </if>
      <if test="oilcan != null" >
        OilCan,
      </if>
      <if test="measuretime != null" >
        MeasureTime,
      </if>
      <if test="oill != null" >
        OilL,
      </if>
      <if test="standardl != null" >
        StandardL,
      </if>
      <if test="heighttotal != null" >
        HeightTotal,
      </if>
      <if test="waterheight != null" >
        WaterHeight,
      </if>
      <if test="waterl != null" >
        WaterL,
      </if>
      <if test="temperature != null" >
        Temperature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="nodeno != null" >
        #{nodeno,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        #{oucode,jdbcType=VARCHAR},
      </if>
      <if test="oilcan != null" >
        #{oilcan,jdbcType=INTEGER},
      </if>
      <if test="measuretime != null" >
        #{measuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="oill != null" >
        #{oill,jdbcType=DOUBLE},
      </if>
      <if test="standardl != null" >
        #{standardl,jdbcType=DOUBLE},
      </if>
      <if test="heighttotal != null" >
        #{heighttotal,jdbcType=DOUBLE},
      </if>
      <if test="waterheight != null" >
        #{waterheight,jdbcType=DOUBLE},
      </if>
      <if test="waterl != null" >
        #{waterl,jdbcType=DOUBLE},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <insert id="merge" parameterType="com.kld.gsm.center.domain.oss_monitor_tankoil" >
    replace into oss_monitor_tankoil
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="nodeno != null" >
        NodeNo,
      </if>
      <if test="oucode != null" >
        OUCode,
      </if>
      <if test="oilcan != null" >
        OilCan,
      </if>
      <if test="measuretime != null" >
        MeasureTime,
      </if>
      <if test="oill != null" >
        OilL,
      </if>
      <if test="standardl != null" >
        StandardL,
      </if>
      <if test="heighttotal != null" >
        HeightTotal,
      </if>
      <if test="waterheight != null" >
        WaterHeight,
      </if>
      <if test="waterl != null" >
        WaterL,
      </if>
      <if test="temperature != null" >
        Temperature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="nodeno != null" >
        #{nodeno,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        #{oucode,jdbcType=VARCHAR},
      </if>
      <if test="oilcan != null" >
        #{oilcan,jdbcType=INTEGER},
      </if>
      <if test="measuretime != null" >
        #{measuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="oill != null" >
        #{oill,jdbcType=DOUBLE},
      </if>
      <if test="standardl != null" >
        #{standardl,jdbcType=DOUBLE},
      </if>
      <if test="heighttotal != null" >
        #{heighttotal,jdbcType=DOUBLE},
      </if>
      <if test="waterheight != null" >
        #{waterheight,jdbcType=DOUBLE},
      </if>
      <if test="waterl != null" >
        #{waterl,jdbcType=DOUBLE},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.kld.gsm.center.domain.oss_monitor_tankoil" >
    update oss_monitor_tankoil
    <set >
      <if test="oucode != null" >
        OUCode = #{oucode,jdbcType=VARCHAR},
      </if>
      <if test="oilcan != null" >
        OilCan = #{oilcan,jdbcType=INTEGER},
      </if>
      <if test="measuretime != null" >
        MeasureTime = #{measuretime,jdbcType=TIMESTAMP},
      </if>
      <if test="oill != null" >
        OilL = #{oill,jdbcType=DOUBLE},
      </if>
      <if test="standardl != null" >
        StandardL = #{standardl,jdbcType=DOUBLE},
      </if>
      <if test="heighttotal != null" >
        HeightTotal = #{heighttotal,jdbcType=DOUBLE},
      </if>
      <if test="waterheight != null" >
        WaterHeight = #{waterheight,jdbcType=DOUBLE},
      </if>
      <if test="waterl != null" >
        WaterL = #{waterl,jdbcType=DOUBLE},
      </if>
      <if test="temperature != null" >
        Temperature = #{temperature,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_monitor_tankoil" >
    update oss_monitor_tankoil
    set OUCode = #{oucode,jdbcType=VARCHAR},
      OilCan = #{oilcan,jdbcType=INTEGER},
      MeasureTime = #{measuretime,jdbcType=TIMESTAMP},
      OilL = #{oill,jdbcType=DOUBLE},
      StandardL = #{standardl,jdbcType=DOUBLE},
      HeightTotal = #{heighttotal,jdbcType=DOUBLE},
      WaterHeight = #{waterheight,jdbcType=DOUBLE},
      WaterL = #{waterl,jdbcType=DOUBLE},
      Temperature = #{temperature,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=VARCHAR}
      and NodeNo = #{nodeno,jdbcType=VARCHAR}
  </update>
</mapper>