<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.center.dao.oss_daily_SelfOilMapper">
    <resultMap id="BaseResultMap" type="com.kld.gsm.center.domain.oss_daily_SelfOil">
        <id column="CardNo" property="cardNo" jdbcType="VARCHAR" />
        <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
        <result column="CreateUser" property="createuser" jdbcType="VARCHAR" />
        <result column="Updatedate" property="updatedate" jdbcType="TIMESTAMP" />
        <result column="UpdateUser" property="updateuser" jdbcType="VARCHAR" />
        <result column="Status" property="status" jdbcType="VARCHAR" />
    </resultMap>
<sql id="Base_Column_List" >
    CardNo, CreateDate,CreateUser,Updatedate,UpdateUser,Status
</sql>

<select id="selectId" resultMap="BaseResultMap" >
    select CardNo from oss_daily_SelfOil
</select>
<select id="getSelfOilList" parameterType="hashmap" resultType="hashmap">
    SELECT * FROM oss_daily_SelfOil where 1=1
    <if test="cardNo !=null and cardNo!=''">
        and CardNo=#{cardNo}
    </if>
    <if test="firstRow != null and  pageSize!= null">
        <![CDATA[ LIMIT #{firstRow},#{pageSize}]]>
    </if>
</select>
    <select id="getSelfOilAllList" parameterType="hashmap" resultType="hashmap">
        SELECT  *  FROM oss_daily_SelfOil where 1=1
        <if test="cardNo !=null and cardNo!=''">
            and CardNo=#{cardNo}
        </if>
    </select>
    <insert id="insert" parameterType="hashmap" >
        insert into oss_daily_SelfOil (cardNo, createDate, createUser, updateDate,updateUser,status)
        values (#{cardNo}, #{createDate},#{createUser}, #{updateDate},#{updateUser},#{status})
    </insert>

    <insert id="insertAll" parameterType="com.kld.gsm.center.domain.oss_daily_SelfOil" >
        insert into oss_daily_SelfOil (cardNo, createDate, createUser, updateDate,updateUser,status)
        values (#{cardNo}, #{createDate},#{createUser}, #{updateDate},#{updateUser},#{status})
    </insert>
    <delete id="del" parameterType="String">
        DELETE  from  oss_daily_SelfOil where CardNo=#{cardNo}
    </delete>
</mapper>