<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.center.dao.oss_sysmanage_CityMapper" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.center.domain.oss_sysmanage_City" >
    <id column="Code" property="code" jdbcType="VARCHAR" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Code, Name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_sysmanage_City
    where Code = #{code,jdbcType=VARCHAR}
  </select>
  <select id="getAll" resultMap="BaseResultMap" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from oss_sysmanage_City
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from oss_sysmanage_City
    where Code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kld.gsm.center.domain.oss_sysmanage_City" >
    insert into oss_sysmanage_City (Code, Name)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.center.domain.oss_sysmanage_City" >
    insert into oss_sysmanage_City
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        Code,
      </if>
      <if test="name != null" >
        Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="merge" parameterType="com.kld.gsm.center.domain.oss_sysmanage_City" >
    replace into oss_sysmanage_City
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        Code,
      </if>
      <if test="name != null" >
        Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kld.gsm.center.domain.oss_sysmanage_City" >
    update oss_sysmanage_City
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where Code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kld.gsm.center.domain.oss_sysmanage_City" >
    update oss_sysmanage_City
    set Name = #{name,jdbcType=VARCHAR}
    where Code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>