<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kld.gsm.center.dao.Sys_roleMapper" >
  <resultMap id="BaseResultMap" type="com.kld.gsm.center.domain.Sys_role" >
    <result column="rolecode" property="rolecode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="oulabel" property="oulabel" jdbcType="VARCHAR" />
    <result column="oucode" property="oucode" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.kld.gsm.center.domain.Sys_role" >
    insert into Sys_role (rolecode, name, description, 
      oulabel, oucode, state, 
      creator, createtime, modifier
      )
    values (#{rolecode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{oulabel,jdbcType=VARCHAR}, #{oucode,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kld.gsm.center.domain.Sys_role" >
    insert into Sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolecode != null" >
        rolecode,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="oulabel != null" >
        oulabel,
      </if>
      <if test="oucode != null" >
        oucode,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolecode != null" >
        #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="oulabel != null" >
        #{oulabel,jdbcType=VARCHAR},
      </if>
      <if test="oucode != null" >
        #{oucode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getSysRolePageList" parameterType="hashmap" resultType="hashmap">
    select * from Sys_role
    where 1=1
    <if test="name != null and name != ''">
      AND name= #{name}
    </if>
    ORDER BY rolecode ASC

    <if test="firstRow != null and  pageSize!= null">
      <![CDATA[ LIMIT #{firstRow},#{pageSize}]]>
    </if>
  </select>
  <select id="getSysRoleList" parameterType="hashmap" resultType="hashmap">
    select * from Sys_role
    where 1=1
    <if test="name != null and name != ''">
      AND name= #{name}
    </if>
  </select>
  <select id="selectAll"  resultType="com.kld.gsm.center.domain.Sys_role">
    select * from Sys_role
  </select>
  <insert id="insertRow" parameterType="hashmap" >
    insert into Sys_role (rolecode, name, creator,state, createtime)
    values (#{rolecode}, #{name},#{creator}, #{state},#{createtime})
  </insert>
  <update id="updateRow" parameterType="hashmap" >
    UPDATE  Sys_role set name=#{name},creator=#{creator},state=#{state},createtime=#{createtime}
    where rolecode=#{rolecode}
  </update>
  <delete id="delete" parameterType="java.lang.String" >
    delete from Sys_role
    where rolecode = #{rolecode}
  </delete>

</mapper>