#set($layout="layout/emptylayout.vm")
#set($menuTitle="日结损溢报警")

<div id="query"  title="查询条件" collapsible="true" class="easyui-panel search panel-body panel-body-noheader" style="border:0px;padding: 10px; width: 100%;" icon="icon-search">
    <table  width="550px">
        <tr>
            <th width="100px">
                选择油站：
            </th>
            <th width="150px">
                <input id="cc" name="cc"  class="easyui-combobox textbox" type="text"  style="width:150px" data-options="prompt:'--请选择--'"></input>
            </th>
            <th width="150px">
                <input id="aa" name="aa"  class="easyui-combobox textbox" type="text" style="width:150px" data-options="prompt:'--请选择--'"></input>

            </th>
            <th width="150px%">
                <input id="ss" name="ss"  class="easyui-combobox textbox" type="text" style="width:150px" data-options="prompt:'--请选择--'"></input>
            </th>
        </tr>
        <tr>
            <th>
                起止日期：
            </th>
            <th colspan="3">
                <input id="dateStartinput" type="text" class="easyui-datebox" required="required"  editable="false"/> ——
                <input id="dateEndinput" type="text"  class="easyui-datebox" required="required"  editable="false"/>
            </th>

        </tr>
        <tr>
            <th></th>
            <th>
                <a id="searchExchange" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width: 60px" onclick="initData()">查询</a>
                <a id="btnExport" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-export'" onclick="ExportExl()">导出</a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
<div id="result">
<table class="easyui-datagrid" id="tt">
</table>
</div>

<script>
    var cols=[[
        {field:'OUName',title:'油站名称',width:70,align:'center'
        },
        {field:'OilName',title:'油品类型',width:70,align:'center'
        },

        {field:'AccountDate',title:'日期',width:100,formatter: formatDatebox,align:'center'
        },

        {field:'DarlyankStock',title:'期初库存(L)',width:70,align:'center'
        },
        {field:'DeliveryNo',title:'出货单号',width:70,align:'center'},
        {field:'ReceiveL',title:'进货数量(L)',width:70,align:'center'},
        {field:'TodayOut',title:'期间付出(L)',width:70,align:'center'
        },
        {field:'TodayEndStock',title:'期末库存(L)',width:70,align:'center'
        },
        {field:'RealStock',title:'实测库存(L)',width:70,align:'center'
        },
        {field:'Cost',title:'损溢量(L)',width:70,align:'center'
        },
        {field:'CostSent',title:'损溢率(%)',width:70,align:'center'
        }

]];

    function mngRol(){ alert('aa');}
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return unescape(r[2]); return null;
    }

    var  begin;
    var end;
    var oucode;

    var paras;
    $(function(){
        var myDate = new Date();
        var MyTime=new Date();
        //var time=MyTime.getFullYear() + "-" + (MyTime.getMonth()) + "-" + MyTime.getDate();
        $("#dateStartinput").datebox('setValue','<%=myDate.toLocaleDateString()%>');
        $("#dateEndinput").datebox('setValue','<%=myDate.toLocaleDateString()%>');
        var heigth=$(window).height()-160;
        $("#result").height(heigth);
        Loadcas("cc","aa","ss");
        initData();
        //alert(GetQueryString('shift'));
    });

    function inittext(){


        var startTime=$("#dateStartinput").datebox("getValue");
        var endTime=$("#dateEndinput").datebox("getValue");
        begin=startTime;
        end=endTime;

        var ss=$('#ss').combobox('getValue');
        var aa=$('#aa').combobox('getValue');
        var cc=$('#cc').combobox('getValue');
        oucode="";
        if(cc!="")
        {
            oucode=cc;
        }
        if(aa!="")
        {
            oucode=aa;
        }
        if(ss!="")
        {
            oucode=ss;
        }

        //paras={begin:'+begin+',end:'+end+',oucode:'+oucode+'};
        paras={ "begin": begin, "end":end, "oucode":oucode};
    }
    function ExportExl() {
        inittext();
        var filename=encodeURI(encodeURI("日结损溢预警"));
        window.open("/web/alarm/excelDailyLost?begin="+begin+"&end="+end+"&oucode="+oucode+"&FileName="+filename);
    }
    function initData() {
        inittext();
        BindDataGridAjax('tt','日结损溢预警','/web/alarm/getDailyLostList',cols,paras,'true',10,[10,20,30]);

       /* dataGridAjax('tt','/web/alarm/getDailyLostList','',paras,cols,undefined,undefined,function(data){
            alert('加载成功!');
        });*/

    }
    function formatDatebox(value) {
        if (value == null || value == '') {
            return '';
        }
        var dt;
        if (value instanceof Date) {
            dt = value;
        } else {
            dt = new Date(value);
        }

        return dt.format("yyyy-MM-dd hh:mm"); //扩展的Date的format方法(上述插件实现)
    }
    function show(value,row,index){

        //function里面的三个参数代表当前字段值，当前行数据对象，行号（行号从0开始）
        alert(value);
        //alert(rowData.username);

        return "<a href='javacript:;' onclick='mngRol();'>查看</a>";

    }
</script>