#set($layout="layout/emptylayout.vm")
#set($menuTitle="油站站点库存")
油站监控  >>  湛江海头加油站
<div class="row">
    <div class="col-md-6" id="table">
        <div class="row">
            <div class="col-lg-2" align="center" id="td" style="background-color: red">总揽</div>
            <div class="col-lg-2" align="center" id="td">罐枪实时监控</div>
            <div class="col-lg-2" align="center" id="td">油站站点库存</div>
            <div class="col-lg-2" align="center" id="td">油站日平衡</div>
            <div class="col-lg-2" align="center" id="td">油站班报</div>
            <div class="col-lg-2" align="center" id="td">报警信息</div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-1">日期：</div>
    <div class="col-md-2"><input type="text" class="easyui-datebox"/></div>
    <div class="col-md-2">—<input type="text" class="easyui-datebox"/></div>
    <div class="col-md-1"><input type="button" value="查询"/></div>
    <div class="col-md-6"></div>
</div>
<div class="col-md-12">整点库存折线图：</div>
<div class="col-md-12">净油体积：</div>
<div class="col-md-12">图表区</div>
<div class="col-md-12">整点库存列表</div>
<table class="easyui-datagrid">
    <thead>
    <tr>
        <th data-options="field:'code'">油罐编号</th>
        <th data-options="field:'name'">油品</th>
        <th data-options="field:'name'">库存时间</th>
        <th data-options="field:'JBSJ'">标准体积（L）</th>
        <th data-options="field:'JBR2'">油水总高（mm）</th>
        <th data-options="field:'JBSJ2'">净油体积（L）</th>
        <th data-options="field:'SYL'">水高（mm）</th>
        <th data-options="field:'SYL2'">水量</th>
    </tr>

    </thead>
    <tbody>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>