#set($layout="layout/emptylayout.vm")
#set($menuTitle="脱销报警")
<div id="query" title="查询条件" collapsible="true" class="easyui-panel" icon="icon-search">
    <table width="80%">
            <tr>
                <th width="8%">
                    选择油站：
                </th>
                <th colspan="3">
                         #parse("business/realstock.vm")
                </th>
            <th>
                油品：
            </th>
            <th>
                <select id="selectOil"  style=" width: 150px">
                </select>
            </th>
        </tr>
        <tr>
            <th>配送建议：</th>
            <th colspan="3">
                <select id="selectPSJY" class="easyui-combobox" style=" width: 150px">
                    <option value="">全部</option>
                    <option value="1">紧急</option>
                    <option value="2">一般</option>
                </select>
            </th>
            <th>
                报警时间：
            </th>
            <th>
                <input id="dateStartinput" type="text" class="easyui-datebox" required="required"/>至
                <input id="dateEndinput" type="text" class="easyui-datebox" required="required"/>
            </th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th>
                <a id="btnSelect" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchDatabyParams();">查询</a>
                <a id="btnExport" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="ExportExl();">导出</a>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
<div id="queryResult" title="报警详情" class="easyui-panel" collapsible="true" style="height: 500px;">
    <table id="tt" fit="true" style="height: 500px;">
      #* <thead>
        <tr>
            <th data-options="field:'StationName'">油站名称</th>
            <th data-options="field:'OilName'">油品</th>
            <th data-options="field:'MesasureTime'">测量时间</th>
            <th data-options="field:'NowVolume'">当前体积</th>
            <th data-options="field:'CanSaleVolume'">可销售体积</th>
            <th data-options="field:'DayAverageSales'">日常销售量</th>
            <th data-options="field:'HourAverageSales'">平均每小时销售量</th>
            <th data-options="field:'PredictHours'">预计销售时间</th>
            <th data-options="field:'SYL3'">预计销售天数</th>
            <th data-options="field:'SYL4'">配送建议</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>AA油站</td>
            <td>92号车用汽油</td>
            <td>2015-11-06︱13:00:00</td>
            <td>实时库存</td>
            <td>当前体积减去低液位报警体积</td>
            <td>日均值</td>
            <td>时均值</td>
            <td>可销售体积/时均值</td>
            <td>可销售体积/日均值</td>
            <td>紧急</td>
        </tr>
        </tbody>*#
    </table>
</div>
<script>

    var cols=[[
        {field:'STATION_NAME',title:'油站名称',width:100},
        {field:'OilName',title:'油品',width:100},
        {field:'MesasureTime',title:'测量时间',width:100},
        {field:'NowVolume',title:'当前体积',width:100},
        {field:'CanSaleVolume',title:'可销售体积',width:100},
        {field:'DayAverageSales',title:'日常销售量',width:100},
        {field:'HourAverageSales',title:'平均每小时销售量',width:100},
        {field:'PredictHours',title:'预计销售时间',width:100},
        {field:'YJSSTS',title:'预计销售天数',width:100},
        {field:'PSYJ',title:'配送建议',width:100}
    ]];
   var  oilno;//油品编号
    var psjy; //配送建议
    var startTime;
    var  endTime;
    var paras;
    $(function(){
        initOilCombox();
      initData();
    });

    function inittext(){
        oilno=$('#selectOil').combobox('getValue');
        psjy=$('#selectPSJY').combobox('getValue');; //配送建议
        startTime=$('#dateStartinput').datebox('getValue');
        endTime=$('#dateEndinput').datebox('getValue');
        paras={'OilNo':oilno,'StartAlarmTime':startTime,'EndAlarmTime':endTime,'PSJY':psjy};

    }
    function initData() {
        inittext();
        dataGridAjax('tt','/web/alarminfo/selectSaleOutPageList','',paras,cols,undefined,undefined,function(data){
          // alert('加载成功!');
        });
        //分页
        var pager=$('#tt').datagrid('getPager');
        pager.pagination({
            total:0,
            rows : 0,
            pageList : [10,20,30],// 可以设置每页记录条数的列表
            onBeforeRefresh: function () {
            },
            onSelectPage: function (pageNumber, pageSize) {//分页触发
              find(pageNumber, pageSize);
             /*   var data='{"total":11,"rows":[{"STATION_NAME":"1","OilName":"1","MesasureTime":"1","NowVolume":"1","CanSaleVolume":"1","DayAverageSales":"1","HourAverageSales":"1","PredictHours":"1","YJSSTS":"1","PSYJ":"1"}]}';
                data=JSON.parse(data);
                $("#tt").datagrid("loadData",data);*/
    }
        });
    }

    function find(pageNumber, pageSize) {
            $("#tt").datagrid('getPager').pagination({pageSize : pageSize, pageNumber : pageNumber});//重置
            $("#tt").datagrid("loading"); //加屏蔽
            $.ajax({
                type : "get",
                dataType : "json",
                url :"/web/alarminfo/selectSaleOutPageList",
                data : {
                    'page' : pageNumber,
                    'rows' : pageSize,
                    'OilNo':oilno,
                    'StartAlarmTime':startTime,
                    'EndAlarmTime':endTime,
                    'PSJY':psjy
                },
                success : function(data) {
                    $("#tt").datagrid('loadData',pageData(data.rows,data.total));//这里的pageData是我自己创建的一个对象，用来封装获取的总条数，和数据，data.rows是我在控制器里面添加的一个map集合的键的名称
                    var total =data.total;
                    $("#tt").datagrid("loaded"); //移除屏蔽
                },
                error : function(err) {
                    $.messager.alert('操作提示', '获取信息失败...请联系管理员!', 'error');
                    $("#tt").datagrid("loaded"); //移除屏蔽
                }
            });
       /* $("#tt").datagrid("loading"); //加屏蔽
        paras={ 'page' : pageNumber,'rows' : pageSize,'OilNo':oilno,'StartAlarmTime':startTime,'EndAlarmTime':endTime};*/
       // $('#tt').datagrid('reload');

    }
   function  searchDatabyParams() {
       initData();
    }
    function pageData(list,total){
        var obj=new Object();
        obj.total=total;
        obj.rows=list;
        return obj;
    }
    function ExportExl() {
     inittext();
    var filename=encodeURI(encodeURI("脱硝报警"));
     window.open("/web/export/TXYJexportExcel?OilNo="+oilno+"&StartAlarmTime="+startTime+"&EndAlarmTime="+endTime+"&PSJY="+psjy+"&FileName="+filename);
    }

    function initOilCombox() {
        $('#selectOil').combobox({
            url:'/web/oiltypeinfo/selectOilType',
            valueField:'OilNo',
            textField:'OilName'
        });

    }

</script>
