#set($layout="layout/emptylayout.vm")
#set($menuTitle="脱销报警")
<div id="query" title="查询条件" collapsible="true" class="easyui-panel" icon="icon-search">
    <table width="80%">
            <tr>
                <th width="100px">
                    选择油站：
                </th>
                <th width="150px">
                    <input id="cc" name="cc"  class="easyui-combobox textbox" type="text"  style="width:150px" data-options="prompt:'--请选择--'"></input>
                </th>
                <th width="150px">
                    <input id="aa" name="aa"  class="easyui-combobox textbox" type="text" style="width:150px" data-options="prompt:'--请选择--'"></input>
                </th>
                <th width="150px">
                    <input id="ss" name="ss"  class="easyui-combobox textbox" type="text" style="width:150px" data-options="prompt:'--请选择--'"></input>
                </th>
        </tr>
        <tr>
            <th width="100px">
                起止日期：
            </th>
            <th width="450px" colspan="3">
                <input id="dateStartinput" type="text" class="easyui-datebox" required="required"   editable="false"/>
                <input id="dateEndinput" type="text"  class="easyui-datebox" required="required"   editable="false"/>

            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                <a id="btnSelect" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="initData();">查询</a>
                <a id="btnExport" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-export'" onclick="ExportExl();">导出</a>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
<div id="result">
    <table class="easyui-datagrid" id="tt">

    </table>
</div>
<script>

    function formatDatebox(value) {
        if (value == null || value == '') {
            return '';
        }
        var dt;
        if (value instanceof Date) {
            dt = value;
        } else {
            dt = new Date(value);
        }

        return dt.format("yyyy-MM-dd hh:mm"); //扩展的Date的format方法(上述插件实现)
    }

    var cols=[[
        {field:'OUName',title:'油站名称',width:100,align:'center'},
        {field:'OilName',title:'油品类型',width:100,align:'center'},
        {field:'StartAlarmTime',title:'开始报警时间',width:100,formatter: formatDatebox,align:'center'},
        {field:'EndAlarmTime',title:'结束报警时间',width:100,formatter: formatDatebox,align:'center'},
        {field:'NowVolume',title:'当前体积(L)',width:100,align:'center'},
        {field:'CanSaleVolume',title:'可销售体积(L)',width:100,align:'center'},
        //{field:'DayAverageSales',title:'日常销售量(L)',width:100},
        {field:'HourAverageSales',title:'平均每小时销售量(L)',width:100,align:'center'},
        {field:'PredictHours',title:'预计销售时间(h)',width:100,align:'center'}
        //{field:'YJSSTS',title:'预计销售天数',width:100},
        //{field:'PSYJ',title:'配送建议',width:100}
    ]];
   var  oilno;//油品编号
    var psjy; //配送建议
    var startTime;
    var  endTime;
    var paras;
    $(function(){
        Loadcas("cc","aa","ss");
        var myDate = new Date();
        var MyTime=new Date();
        var heigth=$(window).height()-160;
        $("#result").height(heigth);
        //var time=MyTime.getFullYear() + "-" + (MyTime.getMonth()) + "-" + MyTime.getDate();
        $("#dateStartinput").datebox('setValue','<%=myDate.toLocaleDateString()%>');
        $("#dateEndinput").datebox('setValue','<%=myDate.toLocaleDateString()%>');
        initData();
    });

    function inittext(){
        var startTime=$("#dateStartinput").datebox("getValue").replace(/-/g,"");

        var endTime=$("#dateEndinput").datebox("getValue").replace(/-/g,"");

        page=null;rows=null; begin=startTime;end=endTime;
        var ss=$('#ss').combobox('getValue');
        var aa=$('#aa').combobox('getValue');
        var cc=$('#cc').combobox('getValue');
        oucode="";
        if(cc!="")
        {
            oucode=cc;
        }
        if(aa!="")
        {
            oucode=aa;
        }
        if(ss!="") {
            oucode = ss;
        }
        paras={ "begin": startTime,"end": endTime,"oucode": oucode};
    }
    function initData() {
        inittext();
        //dataGridAjax('tt','/web/alarminfo/selectSaleOutPageList','',paras,cols,undefined,undefined,function(data){
          // alert('加载成功!');
        //});
        BindDataGridAjax('tt','油站脱销报警','/web/alarm/getSaleOut',cols,paras,'true',10,[10,20,30]);
    }

    function ExportExl() {
        inittext();
        var filename=encodeURI(encodeURI("油站脱销报警"));
        window.open("/web/alarm/exportSaleOut?oucode="+oucode+"&start="+startTime+"&end="+endTime+"&FileName="+filename);
    }
</script>
