#set($layout="layout/emptylayout.vm")
#set($menuTitle="油站")

<style xmlns="http://www.w3.org/1999/html">
    *{ margin:0; padding:0;} li{ list-style:none;}
    .mianbox{ overflow:hidden; background:#fed; min-width:820px;}.row{ padding:10px 10px 0 10px;  overflow:hidden;}
    .divxl{display:block; float:left; position:relative; width:70%; border:1px solid #dcdddd; border-radius:2px; background:#fff; }
    .divyzbj{float:right; width:29%; }
    .divyzbj3c{  border:1px solid #dcdddd; border-radius:2px; background:#fff;}
    .messagetitle{ height:36px; line-height:36px; border-bottom:1px solid #dcdddd; font-size:14px; padding:0 10px;}
    .timebox{ font-size:12px; color:#898989; line-height:36px; display:block; float:right;}
    .messagemian{padding:0 11px; float:left}
    .divjhys{  width:100%; border:1px solid #dcdddd; border-radius:2px; background:#fff; margin-right:10px;min-height:300px; margin-bottom:20px;}
    .bgcolororange{ background:#f0831e;}.bgcolorred{ background:#d51a1b;}
    .divkxb{  border-top:1px solid #dcdddd; border-right:1px solid #dcdddd; padding-bottom:14px;}
    .divtqcs{ border-top:1px solid #dcdddd; border-left:1px solid #dcdddd; padding-bottom:14px; }
    .selectArea {
        height: 30px;
        background-color: #f6f6f6;
        vertical-align: middle;
        line-height: 30px;
        padding-left: 20px;
        color: #838181;
        font-size:14px;
        font-weight:bold;
    }
    .selectArea a {
        text-decoration: none;
        color: black ;
        margin:0px 5px;
    }
    .selectArea a:hover {
        padding-left:1px;
    }
    .selectlink {
        background-color: #f6f6f6;
        border: 1px solid #ccc;
        padding: 0px;
    }
</style>

<div id="dhmunu" class="selectArea">

</div>
<div class="easyui-panel" style="padding: 5px; ">
    <a href="#" class="easyui-linkbutton selectlink" plain="true" iconcls="icon-redo">油站总览</a>
    <a href="/web/desktop/station?pcode=$!pcode&vpage=gqss"  class="easyui-linkbutton " plain="true" iconcls="icon-redo">罐枪实时监控</a>
    <a href="/web/desktop/station?pcode=$!pcode&vpage=zdkc" class="easyui-linkbutton" plain="true" iconcls="icon-redo">油站整点库存</a>
    <a href="/web/desktop/station?pcode=$!pcode&vpage=rph" class="easyui-linkbutton" plain="true" iconcls="icon-redo">油站日平衡</a>
    <a href="/web/desktop/station?pcode=$!pcode&vpage=yzbb" class="easyui-linkbutton" plain="true" iconcls="icon-redo">油站班报</a>
    <a href="/web/desktop/station?pcode=$!pcode&vpage=bjxx" class="easyui-linkbutton" plain="true" iconcls="icon-redo">报警信息</a>
</div>
<div class="mianbox">
    <div class="row">
        <div class="divxl">
            <p class="messagetitle">
                库存与销量<span class="timebox" id="ywytjbjTime"></span>
            </p>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" height="36px" width="20%">
                        <div class="bgcolororange" style=" line-height: 28px; width: 100px; color: White; font-size: 16px;">汽油销量</div>
                    </td>
                    <td align="left" width="30%" style=" font-weight:bold; font-size:16px;"><span id="qyxl"></span> 万升</td>
                    <td align="center" width="20%">
                        <div class="bgcolorred" style="     line-height:28px;    width:100px;color:White; font-size:16px;">柴油销量</div>
                    </td>
                    <td align="left" width="30%" style=" font-weight:bold; font-size:16px;"><span id="cyxl"></span> 万升</td>
                </tr>
                <tr>
                    <td align="center" height="36px" width="20%">
                        <div class="bgcolororange" style=" line-height: 28px; width: 100px; color: White; font-size: 16px;">汽油库存</div>
                    </td>
                    <td align="left" width="30%" style=" font-weight:bold; font-size:16px;"><span id="qyck"></span> 万升</td>
                    <td align="center" width="20%">
                        <div class="bgcolorred" style="     line-height:28px;    width:100px;color:White; font-size:16px;">柴油库存</div>
                    </td>
                    <td align="left" width="30%" style=" font-weight:bold; font-size:16px;"><span id="cykc"></span> 万升</td>
                </tr>
                <tr>
                    <td align="center" height="36px" width="20%">
                        <div class="bgcolororange" style=" line-height: 28px; width: 100px; color: White; font-size: 16px;">汽油进货量</div>
                    </td>
                    <td align="left" width="30%" style=" font-weight:bold; font-size:16px;"><span id="qyjhl"></span> 万升</td>
                    <td align="center" width="20%">
                        <div class="bgcolorred" style="     line-height:28px;    width:100px;color:White; font-size:16px;">柴油进货量</div>
                    </td>
                    <td align="left" width="30%" style=" font-weight:bold; font-size:16px;"><span id="cyjhl"></span> 万升</td>
                </tr>


                <tr>
                    <td align="left" colspan="2">

                        <div class="divkxb">

                            <p class="messagetitle">
                                卡销比
                            </p>
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td colspan="4" align="center" style=" font-size:30px; height:40px; font-weight:bold;"><span id="zkxb"></span>%</td>
                                </tr>
                                <tr>
                                    <td align="center" height="32px"> <div class="bgcolororange" style=" line-height:26px; font-size:14px; width:50px; color:White;">汽油</div></td>
                                    <td><span id="qykxb"></span>%</td>
                                    <td align="center"><div class="bgcolorred" style=" line-height:26px; font-size:14px; width:50px; color:White;">柴油</div></td>
                                    <td><span id="cykxb"></span>%</td>
                                </tr>
                            </table>
                        </div>

                    </td>
                    <td align="right" colspan="2">
                        <div class="divtqcs">
                            <p class="messagetitle" style=" text-align:left;">
                                提枪次数
                            </p>
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td colspan="4" align="center" style=" font-size:30px; height:40px; font-weight:bold;"><span id="tqcs"></span> </td>
                                </tr>
                                <tr>
                                    <td align="center" height="32px"> <div class="bgcolororange" style=" line-height:26px; font-size:14px; width:50px; color:White;">汽油</div></td>
                                    <td><span id="qytq"></span> </td>
                                    <td align="center"><div class="bgcolorred" style=" line-height:26px; font-size:14px; width:50px; color:White;">柴油</div></td>
                                    <td><span id="cytq"></span></td>
                                </tr>
                            </table>


                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="divyzbj">
            <div class="divyzbj3c">
                <p class="messagetitle">
                    油站报警信息
                </p>

                <table cellpadding="0" cellspacing="0" height="232px;" style="width:100%;">
                    <tr>
                        <td rowspan="2" width="40%" align="center" valign="middle">
                            <div style=" height:192px; width:90%; background-color:Red;">
                                <div style=" font-size:14px; font-weight:bold; color:White; text-align:left; padding:6px 0px 0px 6px">全部报警</div>
                                <div style=" line-height:160px; font-size:40px; color:White; font-weight:bold;"><span id="allAlarm"></span></div>
                            </div>
                        </td>

                        <td width="30%">
                            <div style=" height:76px; width:90%; background-color:#f0831e;">

                                <div style=" line-height:46px; font-size:18px; color:White; font-weight:bold; text-align:center;"><span id="ygbjCount"></span> </div>
                                <div style=" font-size: 14px; font-weight: bold; color: White; text-align: center;">油管报警</div>
                            </div>
                        </td>


                        <td width="30%">
                            <div style=" height: 76px; width: 90%; background-color: #f0831e;">

                                <div style=" line-height:46px; font-size:18px; color:White; font-weight:bold; text-align:center;"><span id="sbyjCount"></span></div>
                                <div style=" font-size: 14px; font-weight: bold; color: White; text-align: center;"> 设备报警</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div style=" height:76px; width:90%; background-color:#f0831e;">

                                <div style=" line-height:46px; font-size:18px; color:White; font-weight:bold; text-align:center;"><span id="syyjCount"></span> </div>
                                <div style=" font-size: 14px; font-weight: bold; color: White; text-align: center;">损益报警</div>
                            </div>
                        </td>
                        <td>
                            <div style=" height: 76px; width: 90%; background-color: #f0831e;">

                                <div style=" line-height:46px; font-size:18px; color:White; font-weight:bold; text-align:center;"><span id="txbjCount"></span> </div>
                                <div style=" font-size:14px; font-weight:bold; color:White; text-align:center;">脱销报警</div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="divjhys" style="height:350px;">
            <table id="tt" class="easyui-datagrid" >
            </table>
        </div>
    </div>
</div>
<label id="list"></label>



<script type="text/javascript">


    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    function formatDatebox(value) {
        if (value == null || value == '') {
            return '';
        }
        var dt;
        if (value instanceof Date) {
            dt = value;
        } else {
            dt = new Date(value);
        }
        return dt.format("yyyy-MM-dd hh:mm:ss"); //扩展的Date的format方法(上述插件实现)
    }


    $(function()
    {
        LoadJZTime();  //更新时间
        //库存、销量、进货量、提枪次数、液位仪使用率
        LoadSummary();

        loadSYData();            //损益报警
        LoadAlarmInventory();   //油罐报警
        LoadEq();              //设备故障报警
        loadSaleOutData();    //脱销报警

        LoadTqcsByqycy();
        LoadKXB();

        loadjhys();   //绑定进货验收

        getMenu();  //导航菜单

    })
    var allTotal=0;

    //库存、销量、进货量、提枪次数、液位仪使用率
    function LoadSummary()
    {
        var oucode="$!pcode";

        $.ajax({
            type: "get",
            url: "/web/desktop/selectMonitor_Summary?oucode="+oucode,//这里的地址是选择select后执行后台的url，然后做处理
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                $("#qyxl").html(msg.rows[0].QYSales);  // 销量 汽油
                $("#cyxl").html(msg.rows[0].CYSales);  // 销量 柴油
                $("#qyck").html(msg.rows[0].QYStore);  // 库存 汽油
                $("#cykc").html(msg.rows[0].CYStore);  // 库存 柴油
                $("#qyjhl").html(msg.rows[0].QYOilin);  // 进货量 汽油
                $("#cyjhl").html(msg.rows[0].CYOilin);  // 进货量 柴油
                $("#tqcs").html(msg.rows[0].TJCount);  //提枪次数
//                $("#ywyssl").html(msg.rows[0].YwyRate);  //液位仪使用率


            }
        });

    }

    //脱销
    function loadSaleOutData()
    {
        //开始时间
        var begin = new Date().Format("yyyy-MM-dd");
        //结束时间
        var end = new Date();
        var date = end.getDate();
        date = date + 1;
        end.setDate(date);
        var  over=end.Format("yyyy-MM-dd");
        var oucode="$!pcode";


        //绑定当天损益预警报警次数
        $.ajax({
            type: "get",
            url: "/web/desktop/selectAlarmSaleOutCount?begin="+begin+"&end="+over+"&oucode="+oucode,//这里的地址是选择select后执行后台的url，然后做处理
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                $("#txbjCount").html(msg.total);
                allTotal+=msg.total;
                $("#allAlarm").html(allTotal);
            }
        });

    }
    //损益报警
    function loadSYData()
    {

        //开始时间
        var begin = new Date().Format("yyyy-MM-dd");
        //结束时间
        var end = new Date();
        var date = end.getDate();
        date = date + 1;
        end.setDate(date);
        var  over=end.Format("yyyy-MM-dd");
        var oucode="$!pcode";


        var total=0;
        //绑定当天损益预警报警次数
        $.ajax({
            type: "get",
            url: "/web/desktop/selectDailyLostCout?begin="+begin+"&end="+over+"&oucode="+oucode,//这里的地址是选择select后执行后台的url，然后做处理
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                total+=msg.total;
                $("#syyjCount").html(total);
                allTotal+=msg.total;
                $("#allAlarm").html(allTotal);
            }
        });

        //班结损益
        $.ajax({
            type: "get",
            url: "/web/desktop/selectShiftLostCout?start="+begin+"&end="+over+"&oucode="+oucode,//这里的地址是选择select后执行后台的url，然后做处理
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                total+=msg.total;
                $("#syyjCount").html(total);
                allTotal+=msg.total;
                $("#allAlarm").html(allTotal);
            }
        });


        //进油损益
        $.ajax({
            type: "get",
            url: "/web/desktop/selectOilInContrastCout?begin="+begin+"&end="+over+"&oucode="+oucode,//这里的地址是选择select后执行后台的url，然后做处理
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                total+=msg.total;
                $("#syyjCount").html(total);
                allTotal+=msg.total;
                $("#allAlarm").html(allTotal);
            }
        });


    }
    //油管报警
    function LoadAlarmInventory()
    {
        //开始时间
        var begin = new Date().Format("yyyy-MM-dd");
        var oucode="$!pcode";


        $.ajax({
            type: "get",
            url: "/web/desktop/selectAalrmInventoryCount?begin="+begin+"&end="+begin+"&oucode="+oucode,//这里的地址是选择select后执行后台的url，然后做处理
            success: function(msg){

                //最后将数据返回到这里，通过js显示在页面
                $("#ygbjCount").html(msg.total);
                allTotal+=msg.total;
                $("#allAlarm").html(allTotal);

            }
        });
    }
    //设备报警
    function LoadEq()
    {
        //开始时间
        var begin = new Date().Format("yyyy-MM-dd");
        //结束时间
        var end = new Date();
        var date = end.getDate();
        date = date + 1;
        end.setDate(date);
        var oucode="$!pcode";


        //绑定设备预警
        $.ajax({
            type: "get",
            url: "/web/desktop/selectEqCout?start="+begin+"&end="+end.Format("yyyy-MM-dd")+"&oucode="+oucode,//这里的地址是选择select后执行后台的url，然后做处理
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面

                $("#sbyjCount").html(msg.total);
                allTotal+=msg.total;
                $("#allAlarm").html(allTotal);
            }
        });
    }

    //截止日期
    function LoadJZTime()
    {
        var today=new Date();
        var s=today.toLocaleDateString()+" "+today.getHours()+":"+today.getMinutes();
        $("#ywytjbjTime").html("截止时间:"+s);
    }


    //绑定卡销比
    function LoadKXB()
    {
        var oucode="$!pcode";
        var zkxb=0;
        //绑定汽油卡销比
        $.ajax({
            type: "get",
            url: "/web/desktop/selectKXB?oiltype=01"+"&type=06"+"&oucode="+oucode,
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                $("#qykxb").html(msg.data);

            }
        });
        //绑定柴油卡销笔
        $.ajax({
            type: "get",
            url: "/web/desktop/selectKXB?oiltype=03"+"&type=06"+"&oucode="+oucode,
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面

                $("#cykxb").html(msg.data);

            }
        });
        //绑定总卡销笔
        $.ajax({
            type: "get",
            url: "/web/desktop/selectKXB?oiltype="+"&type=06"+"&oucode="+oucode,
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                $("#zkxb").html(msg.data);
            }
        });
    }


    //汽油柴油提枪次数
    function LoadTqcsByqycy()
    {
        //开始时间 日结损益
//        var begin = new Date();
//        var start=begin.toLocaleDateString()+" 08:00:00";
//        //结束时间 日结损益
//        var end = new Date();
//        var date = end.getDate();
//        date = date + 1;
//        end.setDate(date);
//        var over=end.toLocaleDateString();
        //加油站编号
        var start="";
        var oucode="$!pcode";


        $.ajax({
            type: "get",
            url: "/web/desktop/selectTqCount?start="+start+"&oiltype=01"+"&end="+start+"&oucode="+oucode,
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                if(msg.total>0)
                {
                    if(msg.rows[0].num!='')
                    {$("#qytq").html(msg.rows[0].num);}
                    else
                    {
                        $("#qytq").html(0);
                    }

                }
                else
                {
                    $("#qytq").html(0);
                }
            }
        });
        $.ajax({
            type: "get",
            url: "/web/desktop/selectTqCount?start="+start+"&oiltype=03"+"&end="+start+"&oucode="+oucode,
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面
                if(msg.total>0)
                {
                    if(msg.rows[0].num!='')
                    {$("#cytq").html(msg.rows[0].num);}
                    else
                    {
                        $("#cytq").html(0);
                    }

                }
                else
                {
                    $("#cytq").html(0);
                }
            }
        });
    }


    var cols=[[
        {field:'action',title:'出库单号',width:100,align:'center',formatter:function(value,row,index){
            var DeliveryTime=formatDatebox(row.DeliveryTime);
            var begintime =formatDatebox(row.begintime);
            var str = '';
            str += "<a href='javascript:void(0);'  onclick='Show(&quot;"+row.ManualNo+"&quot;)'>"+row.ManualNo+"</a>";
            return str;
        }},
        {field:'PSD_ID',title:'配送单号',width:100,align:'center'},
        {field:'OUCode',title:'油站',width:100,align:'center'},
        {field:'OilNo',title:'油品名称',width:100,align:'center'},
        {field:'Planl',title:'原发数量(L)',width:100,align:'center'},
        {field:'DeliveryTime',title:'出库时间',width:130,align:'center' ,formatter:function(value,row,index){
            var time=formatDatebox(row.DeliveryTime);
            return time;
        }},
        {field:'FromDepotName',title:'出库油库',width:100,align:'center'},
        {field:'begintime',title:'验收日期',width:130,align:'center',formatter:function(value,row,index){
            var time=formatDatebox(row.begintime);
            return time;
        }},
        {field:'IsComplete',title:'验收状态',width:100,align:'center'},
        {field:'realgetlv20',title:'实收升数(L)',width:100,align:'center'},
        {field:'DischargeLossV20',title:'损溢量(L)',width:100,align:'center'}
    ]];
    var psdId; //配送单号
    var deliveryno;//出库单号
    var startTime;//出库开始日期
    var endTime;//出库结束日期
    var yslx; //验收类型
    var startTime1;//验收开始日期
    var endTime1;//验收结束日期
    var yjssts;//验收状态
    var oucode;//油站
    var paras;
    function inittext(){
        deliveryno="";//出库单号
        //startTime=new Date().Format("yyyy-MM-dd");//出库日期
        startTime="";//出库日期
        endTime="";//出库日期（结束）
        yslx="";//验收类型
        psdId="";//配送单号
        startTime1="";//验收日期
        endTime1="";//验收日期（结束）
        yjssts="";//验收状态
        oucode="$!pcode";//油站

        //oucode="";//油站

        paras={"deliveryno":deliveryno,"startTime":startTime,"endTime":endTime,
            "yslx":yslx,"psdId":psdId,"startTime1":startTime1,"endTime1":endTime1,"yjssts":yjssts,
            "oucode":oucode};

    }
    //绑定进货验收
    function loadjhys()
    {
        inittext();
        BindDataGridAjax('tt','进货验收','/web/acceptance/selectAcceptList',cols,paras,'true',10,[10,20,30]);
    }

    function Show(ManualNo){
        window.open("/web/acceptance/acceptanced?ManualNo="+ManualNo,'newwindow','height=630,width=700,top=0,left=0');
    }

    //构造导航信息
    function getMenu()
    {
        var oucode="$!pcode";

        //绑定设备预警
        $.ajax({
            type: "get",
            url: "/web/desktop/getMenu?oucode="+oucode,
            success: function(msg){
                //最后将数据返回到这里，通过js显示在页面

                var strmunu="<a href='/web/desktop/desktop' target='_self'>监控首页</a>";
                // <a href="/web/desktop/desktop" target="_self">监控首页</a>  > <a href="#" target="_self">分公司</a> > <a href="#" target="_self">片区</a> > 加油站
                if(msg.data.sheng!=""&&typeof(msg.data.sheng) != "undefined")
                {
                    strmunu+="> <a href='/web/desktop/city?pcode="+oucode.substring(0,6)+"' target='_self'>"+msg.data.sheng+"</a>";
                }
                if(msg.data.qu!=""&&typeof(msg.data.qu) != "undefined")
                {
                    strmunu+="> <a href='/web/desktop/county?pcode="+oucode.substring(0,9)+"' target='_self'>"+msg.data.qu+"</a>";
                }
                if(msg.data.zhan!=""&&typeof(msg.data.zhan) != "undefined")
                {
                    strmunu+="> "+msg.data.zhan+"</a>";
                }

                $("#dhmunu").html(strmunu);



            }
        });


    }


</script>