<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-store,no-cache,must-revalidate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
   <link href="../resources/css/reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/resources/css/themes/metro/easyui.css"/>
    <link href="/resources/css/mainstyle.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/resources/css/themes/color.css"/>
 <link rel="stylesheet" type="text/css" href="/resources/css/themes/icon.css"/>
 <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.easyui.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/locale/easyui-lang-zh_CN.js"  charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/layout.js"></script>
    <script type="text/javascript" src="/resources/js/jfshop.js"></script>
    <script type="text/javascript" src="/resources/js/Common.js"></script>


</head>
