<style>
    .tree-node{ padding-top:10px; padding-bottom: 10px; }
    .easyui-accordion{ margin-bottom: 20px;}
</style>
<html>
<body>
    <div id="manageMenu" class="easyui-accordion"  data-options="fit:true,border:false" >
        <div id="SupervisionManage" title="油站监控"  data-options="iconCls:'icon-search'"  >
            <ul id="SupervisionManageUl" class="easyui-tree"  >
                <li id="RealTimeList"><a class="three-title " onclick=" javascript: addTab('实时监控平台', '/web/desktop/desktop');">实时监控平台</a>
                </li>
            </ul>
        </div>
        <div id="businessManage" title="业务管理"  data-options="iconCls:'icon-search'"  >
            <ul id="businessManageUl"  class="easyui-tree" >
                <li id="PurchaseList" ><a class="three-title " onclick=" javascript: addTab('进货验收记录', '/web/business/accept');">进货验收记录</a>
                </li>
                <li id="OilStationList" style="display: none"><a class="three-title " onclick=" javascript: addTab('油站配送建议', '/web/business/sd');">油站配送建议</a>
                </li>
                <li id="ShiftList"><a class="three-title " onclick=" javascript: addTab('班结查询', '/web/business/shift');">班结查询</a>
                </li>
                <li id="DailyList"><a class="three-title " onclick=" javascript: addTab('日结查询', '/web/business/daily');">日结查询</a>
                </li>
                <li id="InStockList"><a class="three-title " onclick=" javascript: addTab('实时库存', '/web/business/timeinventory');">实时库存</a>
                </li>
                <li id="RemoteList"><a class="three-title " onclick=" javascript: addTab('远程盘点', '/web/business/remotechk');">远程盘点</a>
                </li>
            </ul>
        </div>
        <div id="AlarmManage" title="报警信息"  data-options="iconCls:'icon-search'"  >
            <ul id="AlarmManageUl" class="easyui-tree">
                <li id="TubingList"><a class="three-title " onclick=" javascript: addTab('油罐异常报警', '/web/alarm/tank');">油罐异常报警</a>
                </li>
                    <li id="EquipmentList"><a class="three-title " onclick=" javascript: addTab('设备故障报警', '/web/alarm/iq');">设备故障报警</a>
                </li>
                <li id="BanKnotLossList"><a class="three-title " onclick=" javascript: addTab('班结损溢报警', '/web/alarm/shiftlost');">班结损溢报警</a>
                </li>
                <li id="DailyLossList"><a class="three-title " onclick=" javascript: addTab('日结损溢报警', '/web/alarm/dailylost');">日结损溢报警</a>
                </li>
                <li id="OilInList"><a class="three-title " onclick=" javascript: addTab('进油损溢报警', '/web/alarm/oilinlost');">进油损溢报警</a>
                </li>
            </li>
                <li id="StaticList"><a class="three-title " onclick=" javascript: addTab('静态液位异常', '/web/alarm/staticlevel');">静态液位异常</a>
                </li>
                <li id="DynaList"><a class="three-title " onclick=" javascript: addTab('动态液位异常', '/web/alarm/dynamiclevel');">动态液位异常</a>
                </li>
                <li id="OUtOfStockList"><a class="three-title " onclick=" javascript: addTab('油站脱销报警', '/web/alarm/saleout');">油站脱销报警</a>
                </li>
            </ul>
        </div>
        <div id="VolumeManage" title="容积表管理"  data-options="iconCls:'icon-search'"  >
            <ul id="VolumeManageUl" class="easyui-tree">
                <li id="VolumeList"><a class="three-title " onclick=" javascript: addTab('容积表管理', '/web/cubage/mgr');">容积表管理</a>
                </li>
                <li id="VolumeAnalysis"><a class="three-title " onclick=" javascript: addTab('容积表分析', '/web/cubage/analysis');">容积表分析</a>
                </li>
            </ul>
        </div>
        <div id="Message" title="基础信息管理"  data-options="iconCls:'icon-search'"   >
             <ul id="MessageUl" class="easyui-tree">
                <li id="VolumeList"><a class="three-title " onclick=" javascript: addTab('油站信息', '/web/basicdata/loadpage');">油站信息</a>
                </li>
                 <li id="SelfOilList"><a class="three-title " onclick=" javascript: addTab('自用油卡管理', '/web/basicdata/selfOilpage');">自用油卡管理</a>
                 </li>
            </ul>
        </div>
        <div id="sysManage" title="系统管理"   data-options="iconCls:'icon-search'"   >
            <ul id="sysManageUl" class="easyui-tree">
                <li id="sysUserUserList"><a class="three-title current" onclick=" javascript: addTab('功能管理', '/web/sysmanage/catalog');">功能管理</a></li>
                <li id="sysRoleRoleList"><a class="three-title " onclick=" javascript: addTab('系统管理', '/web/sysmanage/loadpage');">系统管理</a>
                <li id="sysDictList"><a class="three-title " onclick=" javascript: addTab('字典管理', '/web/sysmanage/dict');">字典管理</a>
                </li>
            </ul>
        </div>

</div>

<script >
    $(function(){
        AccessControl();
        $('.easyui-tree').tree({
            onClick: function(node){
                $("#"+node.domId).find("a") .trigger("onclick");
            }
        });
    });


function findAll(){
    alert("获取所有的市区油站");
}
  function AccessControl(){
        $.ajax({
            TYPE: "POST",
            url: "/web/common/selectAcessControl",
            success: function (result) {
            //将不拥有的权限菜单项设置为不可见，默认为可见
                var Su=0;var bu=0;var Al=0;var Vo=0;var Me=0;var sy=0;
            for(var i= 0;i<result.length;i++){
                //if(result[i]=="11"){ $('#SupervisionManage').panel('close');};
                if(result[i]=="111"){SupervisionManageUl.getElementsByTagName("li")[0].style.display = "none";Su++;};//实时监控平台
               // if(result[i]=="12"){ $('#businessManage').panel('close');};
                if(result[i]=="121"){businessManageUl.getElementsByTagName("li")[0].style.display = "none";bu++};//进货验收记录
                if(result[i]=="122"){businessManageUl.getElementsByTagName("li")[1].style.display = "none";bu++};//油站配送建议
                if(result[i]=="123"){businessManageUl.getElementsByTagName("li")[2].style.display = "none";bu++};//班结查询
                if(result[i]=="124"){businessManageUl.getElementsByTagName("li")[3].style.display = "none";bu++};//日结查询
                if(result[i]=="125"){businessManageUl.getElementsByTagName("li")[4].style.display = "none";bu++};//实时库存
                if(result[i]=="126"){businessManageUl.getElementsByTagName("li")[5].style.display = "none";bu++};//远程盘点
                //if(result[i]=="13"){ $('#AlarmManage').panel('close');};
                if(result[i]=="131"){AlarmManageUl.getElementsByTagName("li")[0].style.display = "none";Al++};//油罐异常报警
                if(result[i]=="132"){AlarmManageUl.getElementsByTagName("li")[1].style.display = "none";Al++};//设备故障报警
                if(result[i]=="133"){AlarmManageUl.getElementsByTagName("li")[2].style.display = "none";Al++};//班结损溢报警
                if(result[i]=="134"){AlarmManageUl.getElementsByTagName("li")[3].style.display = "none";Al++};//日结损溢报警
                if(result[i]=="135"){AlarmManageUl.getElementsByTagName("li")[4].style.display = "none";Al++};//进油损溢报警
                if(result[i]=="136"){AlarmManageUl.getElementsByTagName("li")[5].style.display = "none";Al++};//静态液位异常
                if(result[i]=="137"){AlarmManageUl.getElementsByTagName("li")[6].style.display = "none";Al++};//动态液位异常
                if(result[i]=="138"){AlarmManageUl.getElementsByTagName("li")[7].style.display = "none";Al++};//油站脱销报警
                //if(result[i]=="14"){ $('#VolumeManage').panel('close');};
                if(result[i]=="141"){VolumeManageUl.getElementsByTagName("li")[0].style.display = "none";Vo++};//容积表管理
                if(result[i]=="142"){VolumeManageUl.getElementsByTagName("li")[1].style.display = "none";Vo++};//容积表分析
               // if(result[i]=="15"){ $('#Message').panel('close');};
                if(result[i]=="151"){MessageUl.getElementsByTagName("li")[0].style.display = "none";Me++};//油站信息
                if(result[i]=="152"){MessageUl.getElementsByTagName("li")[1].style.display = "bl";Me++};//自用油卡卡号管理
               // if(result[i]=="16"){ $('#sysManage').panel('close');};
                if(result[i]=="161"){sysManageUl.getElementsByTagName("li")[0].style.display = "none";sy++};//功能管理
                if(result[i]=="162"){sysManageUl.getElementsByTagName("li")[1].style.display = "none";sy++};//系统管理
                if(result[i]=="163"){sysManageUl.getElementsByTagName("li")[2].style.display = "none";sy++};//字典管理
                 }
                if(Su==1){$('#SupervisionManage').panel('close');};
                if(bu==6){$('#businessManage').panel('close');};
                if(Al==8){$('#AlarmManage').panel('close');};
                if(Vo==2){$('#VolumeManage').panel('close');};
                if(Me==2){$('#Message').panel('close');};
                if(sy==3){$('#sysManage').panel('close');};

            }
        });

    }


</script>
</body>
</html>
